<div class="container-fluid content2 vpanel-left corporatesections">
    <div class="container">
        <div class="col-md-12 lhs1 col-xs-12 productfamilypage">
            <div class="clearfix">&nbsp;</div>
            <p style="text-align: center ! important;"><strong>Pirathon produces a full bodied Shiraz encompassing the
                    great flavour, texture and structure of the north-western Barossa.</strong></p>
            <p style="text-align: center ! important;"><a href="https://www.pirathon.com" rel="alternate">Visit
                    Website</a></p>
            <p style="text-align: center ! important;">&nbsp;</p>
            <div class="clearfix">&nbsp;</div>
            <h3 style="text-align: center ! important;">2020&nbsp;Vintage</h3>
            <h4 style="text-align: center ! important;">2020 produced exceptional wines that exude elegance and poise
                with incredible length of flavour.</h4>
            <div class="clearfix">&nbsp;</div>
            <div class="clearfix">&nbsp;</div>
            <div class="productfamilytitle"><span class="spanclass">
                    <div class="col-lg-4 prod-col"></div>
                    <div class="col-lg-4 prod-col">
                        <a class="pir-link" href="https://wines.pirathon.com/2020/blue"> <img class="pir-range"
                                src="{{ "./gcv/img/" | relURL }}pirathon-blue-2020-700.png" alt="2020 Blue Shiraz"
                                height="300"></a>
                        <a style="color: #182945;" href="https://wines.pirathon.com/2020/blue">
                            <h4 style="font-weight: bold;" class="text-center">Pirathon Blue Label Shiraz</h4>
                        </a>
                        <p class="text-left">Pirathon Blue is medium bodied with notes of blueberry, floral, spice and
                            juicy red fruits. Perfectly balanced with soft tannins and subtle oak complexity. A
                            delightful Barossa Shiraz.</p>
                        <p> &nbsp;</p>
                        <p style="display:none;" class="text-center"><span style="font-size: 18px;"><a
                                    style="color: inherit; font-weight: 400!important;"
                                    href="https://purchase.pirathon.com/"><strong>Regular Price</strong>: $18.00 <sup>/
                                        bottle</sup></a></span></p>
                        <p style="display:none;" class="text-center"><span style="font-size: 18px;"><a
                                    style="color: inherit; font-weight: 400!important;"
                                    href="https://purchase.pirathon.com/wine-club/"><strong>Club Price</strong>: $14.40
                                    <sup>/ bottle</sup></a></span></p>
                        <div class="text-center"><span style="display:none" class="prod-btn"><a
                                    class="btn btn-primary prod-btn-wd" href="https://wines.pirathon.com/2020/blue">Read
                                    More</a></span></div>
                    </div>
                    <div class="col-lg-4 prod-col"></div>
                </span></div>
            <div class="clearfix">&nbsp;</div>
            <div class="clearfix">&nbsp;</div>
            <h3 style="text-align: center ! important;">2018&nbsp;Vintage</h3>
            <h4 style="text-align: center ! important;">2018 produced exceptional wines that exude elegance and poise
                with incredible length of flavour.</h4>
            <div class="clearfix">&nbsp;</div>
            <div class="clearfix">&nbsp;</div>
            <div class="productfamilytitle"><span class="spanclass">
                    <div class="col-lg-3 prod-col">
                        <a class="pir-link" href="https://wines.pirathon.com/2018/blue"> <img class="pir-range"
                               src="{{ "./gcv/img/" | relURL }}pirathon-blue-2017-700.png" alt="2018 Blue Shiraz"
                                height="300"></a>
                        <a style="color: #182945;" href="https://wines.pirathon.com/2018/blue">
                            <h4 style="font-weight: bold;" class="text-center">Pirathon Blue Label Shiraz</h4>
                        </a>
                        <p class="text-left">Pirathon Blue Label is medium bodied with notes of blueberry, floral, spice
                            and juicy red fruits. Perfectly balanced with soft tannins and subtle oak complexity. A
                            delightful Barossa Shiraz.</p>
                        <p> &nbsp;</p>
                        <p style="display:none;" class="text-center"><span style="font-size: 18px;"><a
                                    style="color: inherit; font-weight: 400!important;"
                                    href="https://purchase.pirathon.com/"><strong>Regular Price</strong>: $22.00 <sup>/
                                        bottle</sup></a></span></p>
                        <p style="display:none;" class="text-center"><span style="font-size: 18px;"><a
                                    style="color: inherit; font-weight: 400!important;"
                                    href="https://purchase.pirathon.com/wine-club/"><strong>Club Price</strong>: $17.60
                                    <sup>/ bottle</sup></a></span></p>
                        <div class="text-center"><span style="display:none" class="prod-btn"><a
                                    class="btn btn-primary prod-btn-wd" href="https://wines.pirathon.com/2018/blue">Read
                                    More</a></span></div>
                    </div>
                    <div class="col-lg-3 prod-col">
                        <a class="pir-link" href="https://wines.pirathon.com/2018/silver"><img class="pir-range"
                               src="{{ "./gcv/img/" | relURL }}pirathon-silver-2018-700.png"
                                alt="2018 Pirathon Shiraz" height="300"></a>
                        <a style="color: #182945;" href="https://wines.pirathon.com/2018/silver">
                            <h4 style="font-weight: bold;" class="text-center">Pirathon Silver Label Shiraz</h4>
                        </a>
                        <p class="text-left">Pirathon Silver Label is the classic and award winning Pirathon Shiraz.
                            <br>Full bodied displaying ripe red with toasty background oak. Plush tannins add weight to
                            this generous, harmonious and flavoursome wine.</p>
                        <p> &nbsp;</p>
                        <p style="display:none;" class="text-center"><span style="font-size: 18px;"><a
                                    style="color: inherit; font-weight: 400!important;"
                                    href="https://purchase.pirathon.com/"><strong>Regular Price</strong>: $32.00 <sup>/
                                        bottle</sup></a></span></p>
                        <p style="display:none;" class="text-center"><span style="font-size: 18px;"><a
                                    style="color: inherit; font-weight: 400!important;"
                                    href="https://purchase.pirathon.com/wine-club/"><strong>Club Price</strong>: $25.60
                                    <sup>/ bottle</sup></a></span></p>
                        <div class="text-center"><span style="display:none" class="prod-btn"><a
                                    class="btn btn-primary prod-btn-wd"
                                    href="https://wines.pirathon.com/2018/silver">Read More</a></span></div>
                    </div>
                    <div class="col-lg-3 prod-col">
                        <a class="pir-link" href="https://wines.pirathon.com/2018/silver-cabernet"><img
                                class="pir-range"
                               src="{{ "./gcv/img/" | relURL }}pirathon-silver-cabernet-2018-700.png"
                                alt="2018 Pirathon Silver Cabernet" height="300"></a>
                        <a style="color: #182945;" href="https://wines.pirathon.com/2018/silver-cabernet">
                            <h4 style="font-weight: bold;" class="text-center">Pirathon Silver Label Cabernet</h4>
                        </a>
                        <p class="text-left">The Pirathon Silver Label Cabernet Sauvignon is classic Barossa. Full
                            bodied displaying ripe black olive and savoury notes with toasty background oak.</p>
                        <p> &nbsp;</p>
                        <p> &nbsp;</p>
                        <p style="display:none;" class="text-center"><span style="font-size: 18px;"><a
                                    style="color: inherit; font-weight: 400!important;"
                                    href="https://purchase.pirathon.com/"><strong>Regular Price</strong>: $32.00 <sup>/
                                        bottle</sup></a></span></p>
                        <p style="display:none;" class="text-center"><span style="font-size: 18px;"><a
                                    style="color: inherit; font-weight: 400!important;"
                                    href="https://purchase.pirathon.com/wine-club/"><strong>Club Price</strong>: $25.60
                                    <sup>/ bottle</sup></a></span></p>
                        <div class="text-center"><span style="display:none" class="prod-btn"><a
                                    class="btn btn-primary prod-btn-wd"
                                    href="https://wines.pirathon.com/2018/silver-cabernet">Read More</a></span></div>
                    </div>
                    <div class="col-lg-3 prod-col">
                        <a class="pir-link" href="https://wines.pirathon.com/2018/gold"><img class="pir-range"
                               src="{{ "./gcv/img/" | relURL }}pirathon-gold-2018-700.png" alt="2018 Pirathon Gold"
                                height="300"></a>
                        <a style="color: #182945;" href="https://wines.pirathon.com/2018/gold">
                            <h4 style="font-weight: bold;" class="text-center">Pirathon Gold Label Shiraz</h4>
                        </a>
                        <p class="text-left">The Pirathon Gold Label Shiraz is full bodied with intense dark fruit
                            flavours and enticing aromas. It is rich on the palate with solid tannins and cedary oak
                            giving a powerful Barossa Shiraz of the highest calibre.</p>
                        <p> &nbsp;</p>
                        <p style="display:none;" class="text-center"><span style="font-size: 18px;"><a
                                    style="color: inherit; font-weight: 400!important;"
                                    href="https://purchase.pirathon.com/"><strong>Regular Price</strong>: $99.00 <sup>/
                                        bottle</sup></a></span></p>
                        <p style="display:none;" class="text-center"><span style="font-size: 18px;"><a
                                    style="color: inherit; font-weight: 400!important;"
                                    href="https://purchase.pirathon.com/wine-club/"><strong>Club Price</strong>: $79.20
                                    <sup>/ bottle</sup></a></span></p>
                        <div class="text-center"><span style="display:none" class="prod-btn"><a
                                    class="btn btn-primary prod-btn-wd" href="https://wines.pirathon.com/2018/gold">Read
                                    More</a></span></div>
                    </div>
                    <div class="clearfix"></div>
                </span></div>
            <div class="clearfix">&nbsp;</div>
            <div class="clearfix">&nbsp;</div>
            <h3 style="text-align: center ! important;">2017&nbsp;Vintage</h3>
            <h4 style="text-align: center ! important;">2017 produced exceptional wines that exude elegance and poise
                with incredible length of flavour.</h4>
            <div class="clearfix">&nbsp;</div>
            <div class="clearfix">&nbsp;</div>
            <div class="productfamilytitle"><span class="spanclass">
                    <div class="col-lg-3 prod-col">
                        <a class="pir-link" href="https://wines.pirathon.com/2017/blue"> <img class="pir-range"
                               src="{{ "./gcv/img/" | relURL }}pirathon-blue-2017-700.png" alt="2017 Blue Shiraz"
                                height="300"></a>
                        <a style="color: #182945;" href="https://wines.pirathon.com/2017/blue">
                            <h4 style="font-weight: bold;" class="text-center">Pirathon Blue</h4>
                        </a>
                        <p class="text-left">Pirathon Blue is medium bodied with notes of blueberry, floral, spice and
                            juicy red fruits. Perfectly balanced with soft tannins and subtle oak complexity. A
                            delightful Barossa Shiraz.</p>
                        <p> &nbsp;</p>
                        <p style="display:none;" class="text-center"><span style="font-size: 18px;"><a
                                    style="color: inherit; font-weight: 400!important;"
                                    href="https://purchase.pirathon.com/"><strong>Regular Price</strong>: $18.00 <sup>/
                                        bottle</sup></a></span></p>
                        <p style="display:none;" class="text-center"><span style="font-size: 18px;"><a
                                    style="color: inherit; font-weight: 400!important;"
                                    href="https://purchase.pirathon.com/wine-club/"><strong>Club Price</strong>: $14.40
                                    <sup>/ bottle</sup></a></span></p>
                        <div class="text-center"><span style="display:none" class="prod-btn"><a
                                    class="btn btn-primary prod-btn-wd" href="https://wines.pirathon.com/2017/blue">Read
                                    More</a></span></div>
                    </div>
                    <div class="col-lg-3 prod-col">
                        <a class="pir-link" href="https://wines.pirathon.com/2017/silver"><img class="pir-range"
                               src="{{ "./gcv/img/" | relURL }}pirathon-silver-2017-700.png"
                                alt="2017 Pirathon Shiraz" height="300"></a>
                        <a style="color: #182945;" href="https://wines.pirathon.com/2017/silver">
                            <h4 style="font-weight: bold;" class="text-center">Pirathon Silver</h4>
                        </a>
                        <p class="text-left">Pirathon Silver is the classic and award winning Pirathon Shiraz. <br>Full
                            bodied displaying ripe red with toasty background oak. Plush tannins add weight to this
                            generous, harmonious and flavoursome wine.</p>
                        <p> &nbsp;</p>
                        <p style="display:none;" class="text-center"><span style="font-size: 18px;"><a
                                    style="color: inherit; font-weight: 400!important;"
                                    href="https://purchase.pirathon.com/"><strong>Regular Price</strong>: $32.00 <sup>/
                                        bottle</sup></a></span></p>
                        <p style="display:none;" class="text-center"><span style="font-size: 18px;"><a
                                    style="color: inherit; font-weight: 400!important;"
                                    href="https://purchase.pirathon.com/wine-club/"><strong>Club Price</strong>: $25.60
                                    <sup>/ bottle</sup></a></span></p>
                        <div class="text-center"><span style="display:none" class="prod-btn"><a
                                    class="btn btn-primary prod-btn-wd"
                                    href="https://wines.pirathon.com/2017/silver">Read More</a></span></div>
                    </div>
                    <div class="col-lg-3 prod-col">
                        <a class="pir-link" href="https://wines.pirathon.com/2017/black"><img class="pir-range"
                               src="{{ "./gcv/img/" | relURL }}pirathon-black-2017-700.png"
                                alt="2017 Pirathon Black" height="300"></a>
                        <a style="color: #182945;" href="https://wines.pirathon.com/2017/black">
                            <h4 style="font-weight: bold;" class="text-center">Pirathon Black</h4>
                        </a>
                        <p class="text-left">The Pirathon Black Shiraz is full bodied with wonderfully rich black fruits
                            balanced with classy mocha oak and sublime texture. Finely integrated tannins adds structure
                            to this expressive.</p>
                        <p> &nbsp;</p>
                        <p style="display:none;" class="text-center"><span style="font-size: 18px;"><a
                                    style="color: inherit; font-weight: 400!important;"
                                    href="https://purchase.pirathon.com/"><strong>Regular Price</strong>: $49.00 <sup>/
                                        bottle</sup></a></span></p>
                        <p style="display:none;" class="text-center"><span style="font-size: 18px;"><a
                                    style="color: inherit; font-weight: 400!important;"
                                    href="https://purchase.pirathon.com/wine-club/"><strong>Club Price</strong>: $39.20
                                    <sup>/ bottle</sup></a></span></p>
                        <div class="text-center"><span style="display:none" class="prod-btn"><a
                                    class="btn btn-primary prod-btn-wd"
                                    href="https://wines.pirathon.com/2017/black">Read More</a></span></div>
                    </div>
                    <div class="col-lg-3 prod-col">
                        <a class="pir-link" href="https://wines.pirathon.com/2017/gold"><img class="pir-range"
                               src="{{ "./gcv/img/" | relURL }}pirathon-gold-2017-700.png" alt="2017 Pirathon Gold"
                                height="300"></a>
                        <a style="color: #182945;" href="https://wines.pirathon.com/2017/gold">
                            <h4 style="font-weight: bold;" class="text-center">Pirathon Gold</h4>
                        </a>
                        <p class="text-left">The Pirathon Gold Shiraz is full bodied with intense dark fruit flavours
                            and enticing aromas. It is rich on the palate with solid tannins and cedary oak giving a
                            powerful Barossa Shiraz of the highest calibre.</p>
                        <p> &nbsp;</p>
                        <p style="display:none;" class="text-center"><span style="font-size: 18px;"><a
                                    style="color: inherit; font-weight: 400!important;"
                                    href="https://purchase.pirathon.com/"><strong>Regular Price</strong>: $99.00 <sup>/
                                        bottle</sup></a></span></p>
                        <p style="display:none;" class="text-center"><span style="font-size: 18px;"><a
                                    style="color: inherit; font-weight: 400!important;"
                                    href="https://purchase.pirathon.com/wine-club/"><strong>Club Price</strong>: $79.20
                                    <sup>/ bottle</sup></a></span></p>
                        <div class="text-center"><span style="display:none" class="prod-btn"><a
                                    class="btn btn-primary prod-btn-wd" href="https://wines.pirathon.com/2017/gold">Read
                                    More</a></span></div>
                    </div>
                    <div class="clearfix"></div>
                </span></div>
            <div class="clearfix">&nbsp;</div>
            <div class="clearfix">&nbsp;</div>
            <h3 style="text-align: center ! important;">2016 Vintage</h3>
            <h4 style="text-align: center ! important;">2016 is certainly a star vintage with bright intense wines of
                great flavour intensity and inherent balance.</h4>
            <div class="clearfix">&nbsp;</div>
            <div class="clearfix">&nbsp;</div>
            <div class="productfamilytitle"><span class="spanclass">
                    <div class="col-lg-3 prod-col">
                        <a class="pir-link" href="https://wines.pirathon.com/2016/bluemark"> <img class="pir-range"
                               src="{{ "./gcv/img/" | relURL }}bluemark-shiraz-2016-700.png"
                                alt="2016 Bluemark Shiraz" height="300"></a>
                        <a style="color: #182945;" href="https://wines.pirathon.com/2016/bluemark">
                            <h4 style="font-weight: bold;" class="text-center">Bluemark</h4>
                        </a>
                        <p class="text-left">This bold Barossa Shiraz has an inviting bouquet with aromas of ripe plum,
                            Christmas cake, fruit compote and chocolate oak. The full-bodied palate is rich and intense
                            with an abundance of flavour and a deep colour.</p>
                        <p> &nbsp;</p>
                        <p style="display:none;" class="text-center"><span style="font-size: 18px;"><a
                                    style="color: inherit; font-weight: 400!important;"
                                    href="https://purchase.pirathon.com/"><strong>Regular Price</strong>: $18.00 <sup>/
                                        bottle</sup></a></span></p>
                        <p style="display:none;" class="text-center"><span style="font-size: 18px;"><a
                                    style="color: inherit; font-weight: 400!important;"
                                    href="https://purchase.pirathon.com/wine-club/"><strong>Club Price</strong>: $14.40
                                    <sup>/ bottle</sup></a></span></p>
                        <div class="text-center"><span style="display:none" class="prod-btn"><a
                                    class="btn btn-primary prod-btn-wd"
                                    href="https://wines.pirathon.com/2016/bluemark">Read More</a></span></div>
                    </div>
                    <div class="col-lg-3 prod-col">
                        <a class="pir-link" href="https://wines.pirathon.com/2016/silver"><img class="pir-range"
                               src="{{ "./gcv/img/" | relURL }}pirathon-silver-2016-700.png"
                                alt="2016 Pirathon Shiraz" height="300"></a>
                        <a style="color: #182945;" href="https://wines.pirathon.com/2016/silver">
                            <h4 style="font-weight: bold;" class="text-center">Pirathon Silver</h4>
                        </a>
                        <p class="text-left">Pirathon Silver is the classic and award winning Pirathon Shiraz. <br>Full
                            bodied displaying bright fruit characters contribute to this plush wine. This is an
                            extremely balanced Shiraz with fruit, oak and tannin working together.</p>
                        <p> &nbsp;</p>
                        <p style="display:none;" class="text-center"><span style="font-size: 18px;"><a
                                    style="color: inherit; font-weight: 400!important;"
                                    href="https://purchase.pirathon.com/"><strong>Regular Price</strong>: $27.00 <sup>/
                                        bottle</sup></a></span></p>
                        <p style="display:none;" class="text-center"><span style="font-size: 18px;"><a
                                    style="color: inherit; font-weight: 400!important;"
                                    href="https://purchase.pirathon.com/wine-club/"><strong>Club Price</strong>: $21.60
                                    <sup>/ bottle</sup></a></span></p>
                        <div class="text-center"><span style="display:none" class="prod-btn"><a
                                    class="btn btn-primary prod-btn-wd"
                                    href="https://wines.pirathon.com/2016/silver">Read More</a></span></div>
                    </div>
                    <div class="col-lg-3 prod-col">
                        <a class="pir-link" href="https://wines.pirathon.com/2016/black"><img class="pir-range"
                               src="{{ "./gcv/img/" | relURL }}pirathon-black-2016-700.png"
                                alt="2016 Pirathon Black" height="300"></a>
                        <a style="color: #182945;" href="https://wines.pirathon.com/2016/black">
                            <h4 style="font-weight: bold;" class="text-center">Pirathon Black</h4>
                        </a>
                        <p class="text-left">New to the range in 2016, Pirathon Black is the first of Pirathon's reserve
                            bottlings. It is a rich and full bodied wine with an uplifting and alluring aroma. Plush
                            juicy dark fruits dominate in this well balanced, mouth filling Barossa Shiraz.</p>
                        <p> &nbsp;</p>
                        <p style="display:none;" class="text-center"><span style="font-size: 18px;"><a
                                    style="color: inherit; font-weight: 400!important;"
                                    href="https://purchase.pirathon.com/"><strong>Regular Price</strong>: $49.00 <sup>/
                                        bottle</sup></a></span></p>
                        <p style="display:none;" class="text-center"><span style="font-size: 18px;"><a
                                    style="color: inherit; font-weight: 400!important;"
                                    href="https://purchase.pirathon.com/wine-club/"><strong>Club Price</strong>: $39.20
                                    <sup>/ bottle</sup></a></span></p>
                        <div class="text-center"><span style="display:none" class="prod-btn"><a
                                    class="btn btn-primary prod-btn-wd"
                                    href="https://wines.pirathon.com/2016/black">Read More</a></span></div>
                    </div>
                    <div class="col-lg-3 prod-col">
                        <a class="pir-link" href="https://wines.pirathon.com/2016/gold"><img class="pir-range"
                               src="{{ "./gcv/img/" | relURL }}pirathon-gold-2016-700.png" alt="2016 Pirathon Gold"
                                height="300"></a>
                        <a style="color: #182945;" href="https://wines.pirathon.com/2016/gold">
                            <h4 style="font-weight: bold;" class="text-center">Pirathon Gold</h4>
                        </a>
                        <p class="text-left">New to the range in 2016, the Pirathon Gold reserve bottling delivers a
                            classy Barossa Shiraz. It is rich with powerful flavours and intense aromatics. A palate of
                            bright fruits balanced with chalky tannins dominate in this premium Shiraz.</p>
                        <p> &nbsp;</p>
                        <p style="display:none;" class="text-center"><span style="font-size: 18px;"><a
                                    style="color: inherit; font-weight: 400!important;"
                                    href="https://purchase.pirathon.com/"><strong>Regular Price</strong>: $99.00 <sup>/
                                        bottle</sup></a></span></p>
                        <p style="display:none;" class="text-center"><span style="font-size: 18px;"><a
                                    style="color: inherit; font-weight: 400!important;"
                                    href="https://purchase.pirathon.com/wine-club/"><strong>Club Price</strong>: $79.20
                                    <sup>/ bottle</sup></a></span></p>
                        <div class="text-center"><span style="display:none" class="prod-btn"><a
                                    class="btn btn-primary prod-btn-wd" href="https://wines.pirathon.com/2016/gold">Read
                                    More</a></span></div>
                    </div>
                    <div class="clearfix"></div>
                </span></div>
            <div class="clearfix">&nbsp;</div>
            <div class="clearfix">&nbsp;</div>
            <h3 style="text-align: center ! important;">2015 Vintage</h3>
            <h4 style="text-align: center ! important;">The 2015 Vintage produced excellent wines, the quality is
                brilliant and one of the highlights in recent years.</h4>
            <div class="clearfix">&nbsp;</div>
            <div class="clearfix">&nbsp;</div>
            <div class="productfamilytitle"><span class="spanclass">
                    <div class="col-lg-1 prod-col"></div>
                    <div class="col-lg-3 prod-col">
                        <a class="pir-link" href="https://wines.pirathon.com/2015/bluemark"><img class="pir-range"
                               src="{{ "./gcv/img/" | relURL }}bluemark-shiraz-2016-700.png"
                                alt="2015 Bluemark Shiraz" height="300"></a>
                        <a style="color: #182945;" href="https://wines.pirathon.com/2015/bluemark">
                            <h4 style="font-weight: bold;" class="text-center">Bluemark</h4>
                        </a>
                        <p class="text-left">This bold Barossa Shiraz has an inviting bouquet with aromas of ripe plum,
                            Christmas cake, fruit compote and chocolate oak. The full-bodied palate is rich and intense
                            with an abundance of flavour and a deep colour.</p>
                        <div class="text-center"><span style="display:none" class="prod-btn"><a
                                    class="btn btn-primary prod-btn-wd"
                                    href="https://wines.pirathon.com/2015/bluemark">Read More</a></span></div>
                    </div>
                    <div class="col-lg-3 prod-col">
                        <a class="pir-link" href="https://wines.pirathon.com/2015/silver"><img class="pir-range"
                               src="{{ "./gcv/img/" | relURL }}pirathon-silver-2016-700.png"
                                alt="2015 Pirathon Shiraz" height="300"></a>
                        <a style="color: #182945;" href="https://wines.pirathon.com/2015/silver">
                            <h4 style="font-weight: bold;" class="text-center">Pirathon</h4>
                        </a>
                        <p class="text-left">Pirathon is the classic and award winning Pirathon Shiraz. Full bodied
                            displaying bright fruit characters contribute to this plush wine. This is an extremely
                            balanced Shiraz with fruit, oak and tannin working together.</p>
                        <div class="text-center"><span style="display:none" class="prod-btn"><a
                                    class="btn btn-primary prod-btn-wd"
                                    href="https://wines.pirathon.com/2015/silver">Read More</a></span></div>
                    </div>
                    <div class="col-lg-3 prod-col">
                        <a class="pir-link" href="https://wines.pirathon.com/2015/limited-edition"><img
                                class="pir-range"src="{{ "./gcv/img/" | relURL }}pirathon-ltd-2015.png"
                                alt="2016 Pirathon Black" height="300"></a>
                        <a style="color: #182945;" href="https://wines.pirathon.com/2015/limited-edition">
                            <h4 style="font-weight: bold;" class="text-center">Pirathon Limited Edition</h4>
                        </a>
                        <p class="text-left">Pirathon Limited Edition Shiraz is a unique release from the amazing 2015
                            vintage. &nbsp;This ultimate Barossa Valley Shiraz is exclusively packaged in a wooden
                            6-pack celebrating the amazing high standard of this Limited Edition wine.</p>
                        <div class="text-center"><span style="display:none" class="prod-btn"><a
                                    class="btn btn-primary prod-btn-wd"
                                    href="https://wines.pirathon.com/2015/limited-edition">Read More</a></span></div>
                    </div>
                    <div class="col-lg-1 prod-col"></div>
                </span></div>
            <div class="clearfix">&nbsp;</div>
            <div class="clearfix">&nbsp;</div>
            <h3 style="text-align: center ! important;">2014 Vintage</h3>
            <h4 style="text-align: center ! important;">The 2014 wines are strong with deep and vibrant colour,
                excellent fruit definition and solid but integrated tannin structure ensuring longevity for the wines.
            </h4>
            <div class="clearfix">&nbsp;</div>
            <div class="clearfix">&nbsp;</div>
            <div class="productfamilytitle"><span class="spanclass">
                    <div class="col-lg-2 prod-col"></div>
                    <div class="col-lg-4 prod-col">
                        <img class="pir-range"src="{{ "./gcv/img/" | relURL }}bluemark-shiraz-2016-700.png"
                            alt="2014 Bluemark Shiraz" height="300">
                        <h4 style="font-weight: bold;" class="text-center">Bluemark</h4>
                        <p class="text-left">This bold Barossa Shiraz has an inviting bouquet with aromas of ripe plum,
                            Christmas cake, fruit compote and chocolate oak. The full-bodied palate is rich and intense
                            with an abundance of flavour and a deep colour.</p>
                    </div>
                    <div class="col-lg-4 prod-col">
                        <a class="pir-link" href="https://wines.pirathon.com/2014/silver"><img class="pir-range"
                               src="{{ "./gcv/img/" | relURL }}pirathon-early-bottle.png"
                                alt="2014 Pirathon Shiraz" height="300"></a>
                        <a style="color: #182945;" href="https://wines.pirathon.com/2014/silver">
                            <h4 style="font-weight: bold;" class="text-center">Pirathon</h4>
                        </a>
                        <p class="text-left">Pirathon is the classic and award winning Pirathon Shiraz. Full bodied
                            displaying bright fruit characters contribute to this plush wine. This is an extremely
                            balanced Shiraz with fruit, oak and tannin working together.</p>
                        <div class="text-center"><span style="display:none" class="prod-btn"><a
                                    class="btn btn-primary prod-btn-wd"
                                    href="https://wines.pirathon.com/2014/silver">Read More</a></span></div>
                    </div>
                    <div class="col-lg-2 prod-col"></div>
                </span></div>
            <div class="clearfix">&nbsp;</div>
            <div class="clearfix">&nbsp;</div>
            <h3 style="text-align: center ! important;">2013 Vintage</h3>
            <h4 style="text-align: center ! important;">2013 was a year of low yields but high quality. The wines are
                rich, mouthfilling and extremely lengthy.</h4>
            <div class="clearfix">&nbsp;</div>
            <div class="clearfix">&nbsp;</div>
            <div class="productfamilytitle"><span class="spanclass">
                    <div class="col-lg-2 prod-col"></div>
                    <div class="col-lg-4 prod-col">
                        <img class="pir-range"src="{{ "./gcv/img/" | relURL }}bluemark-shiraz-2016-700.png"
                            alt="2013 Bluemark Shiraz" height="300">
                        <h4 style="font-weight: bold;" class="text-center">Bluemark</h4>
                        <p class="text-left">This bold Barossa Shiraz has an inviting bouquet with aromas of ripe plum,
                            Christmas cake, fruit compote and chocolate oak. The full-bodied palate is rich and intense
                            with an abundance of flavour and a deep colour.</p>
                    </div>
                    <div class="col-lg-4 prod-col">
                        <a class="pir-link" href="https://wines.pirathon.com/2013/silver"><img class="pir-range"
                               src="{{ "./gcv/img/" | relURL }}pirathon-early-bottle.png"
                                alt="2013 Pirathon Shiraz" height="300"></a>
                        <a style="color: #182945;" href="https://wines.pirathon.com/2013/silver">
                            <h4 style="font-weight: bold;" class="text-center">Pirathon</h4>
                        </a>
                        <p class="text-left">Pirathon is the classic and award winning Pirathon Shiraz. Full bodied
                            displaying bright fruit characters contribute to this plush wine. This is an extremely
                            balanced Shiraz with fruit, oak and tannin working together.</p>
                        <div class="text-center"><span style="display:none" class="prod-btn"><a
                                    class="btn btn-primary prod-btn-wd"
                                    href="https://wines.pirathon.com/2013/silver">Read More</a></span></div>
                    </div>
                    <div class="col-lg-2 prod-col"></div>
                </span></div>
            <div class="clearfix">&nbsp;</div>
            <div class="clearfix">&nbsp;</div>
            <h3 style="text-align: center ! important;">2012&nbsp;Vintage</h3>
            <h4 style="text-align: center ! important;">Vintage 2012 was a fantastic year. The wines from 2012 are
                outstanding and up there with the best wines to come out of the winery.</h4>
            <div class="clearfix">&nbsp;</div>
            <div class="clearfix">&nbsp;</div>
            <div class="productfamilytitle"><span class="spanclass">
                    <div class="col-lg-2 prod-col"></div>
                    <div class="col-lg-4 prod-col">
                        <img class="pir-range"src="{{ "./gcv/img/" | relURL }}bluemark-shiraz-2016-700.png"
                            alt="2012 Bluemark Shiraz" height="300">
                        <h4 style="font-weight: bold;" class="text-center">Bluemark</h4>
                        <p class="text-left">This bold Barossa Shiraz has an inviting bouquet with aromas of ripe plum,
                            Christmas cake, fruit compote and chocolate oak. The full-bodied palate is rich and intense
                            with an abundance of flavour and a deep colour.</p>
                    </div>
                    <div class="col-lg-4 prod-col">
                        <a class="pir-link" href="https://wines.pirathon.com/2012/silver"><img class="pir-range"
                               src="{{ "./gcv/img/" | relURL }}pirathon-early-bottle.png"
                                alt="2012 Pirathon Shiraz" height="300"></a>
                        <a style="color: #182945;" href="https://wines.pirathon.com/2012/silver">
                            <h4 style="font-weight: bold;" class="text-center">Pirathon</h4>
                        </a>
                        <p class="text-left">Pirathon is the classic and award winning Pirathon Shiraz. Full bodied
                            displaying bright fruit characters contribute to this plush wine. This is an extremely
                            balanced Shiraz with fruit, oak and tannin working together.</p>
                        <div class="text-center"><span style="display:none" class="prod-btn"><a
                                    class="btn btn-primary prod-btn-wd"
                                    href="https://wines.pirathon.com/2012/silver">Read More</a></span></div>
                    </div>
                    <div class="col-lg-2 prod-col"></div>
                </span></div>
            <div class="clearfix">&nbsp;</div>
            <div class="clearfix">&nbsp;</div>
            <h3 style="text-align: center ! important;">2011 Vintage</h3>
            <h4 style="text-align: center ! important;">In 2011 the cool weather resulted in great natural acidity and
                fresh vibrant flavours in the grapes, with wines more elegant than usual and displaying plenty of
                florals and spice.</h4>
            <div class="clearfix">&nbsp;</div>
            <div class="clearfix">&nbsp;</div>
            <div class="productfamilytitle"><span class="spanclass">
                    <div class="col-lg-2 prod-col"></div>
                    <div class="col-lg-4 prod-col">
                        <img class="pir-range"src="{{ "./gcv/img/" | relURL }}bluemark-shiraz-2016-700.png"
                            alt="2011 Bluemark Shiraz" height="300">
                        <h4 style="font-weight: bold;" class="text-center">Bluemark</h4>
                        <p class="text-left">This bold Barossa Shiraz has an inviting bouquet with aromas of ripe plum,
                            Christmas cake, fruit compote and chocolate oak. The full-bodied palate is rich and intense
                            with an abundance of flavour and a deep colour.</p>
                    </div>
                    <div class="col-lg-4 prod-col">
                        <a class="pir-link" href="https://wines.pirathon.com/2011/silver"><img class="pir-range"
                               src="{{ "./gcv/img/" | relURL }}pirathon-early-bottle.png"
                                alt="2011 Pirathon Shiraz" height="300"></a>
                        <a style="color: #182945;" href="https://wines.pirathon.com/2011/silver">
                            <h4 style="font-weight: bold;" class="text-center">Pirathon</h4>
                        </a>
                        <p class="text-left">Pirathon is the classic and award winning Pirathon Shiraz. Full bodied
                            displaying dark fruit characters contribute to this layered wine. This is an extremely
                            balanced Shiraz with fruit, oak and tannin working together.</p>
                        <div class="text-center"><span style="display:none" class="prod-btn"><a
                                    class="btn btn-primary prod-btn-wd"
                                    href="https://wines.pirathon.com/2011/silver">Read More</a></span></div>
                    </div>
                    <div class="col-lg-2 prod-col"></div>
                </span></div>
            <div class="clearfix">&nbsp;</div>
            <div class="clearfix">&nbsp;</div>
            <h3 style="text-align: center ! important;">2010 Vintage</h3>
            <h4 style="text-align: center ! important;">2010 was an outstanding vintage – one of the best of the decade.
            </h4>
            <div class="clearfix">&nbsp;</div>
            <div class="clearfix">&nbsp;</div>
            <div class="productfamilytitle"><span class="spanclass">
                    <div class="col-lg-4 prod-col"></div>
                    <div class="col-lg-4 prod-col">
                        <a class="pir-link" href="https://wines.pirathon.com/2010/silver"><img class="pir-range"
                               src="{{ "./gcv/img/" | relURL }}pirathon-early-bottle.png"
                                alt="2010 Pirathon Shiraz" height="300"></a>
                        <a style="color: #182945;" href="https://wines.pirathon.com/2010/silver">
                            <h4 style="font-weight: bold;" class="text-center">Pirathon</h4>
                        </a>
                        <p class="text-left">Pirathon is the classic and award winning Pirathon Shiraz. Full bodied
                            displaying dark fruit characters contribute to this layered wine. This is an extremely
                            balanced Shiraz with fruit, oak and tannin working together.</p>
                        <div class="text-center"><span style="display:none" class="prod-btn"><a
                                    class="btn btn-primary prod-btn-wd"
                                    href="https://wines.pirathon.com/2010/silver">Read More</a></span></div>
                    </div>
                    <div class="col-lg-4 prod-col"></div>
                </span></div>
            <div class="clearfix">&nbsp;</div>
            <div class="clearfix">&nbsp;</div>
            <h3 style="text-align: center ! important;">2009 Vintage</h3>
            <h4 style="text-align: center ! important;">2009 was a brilliant vintage with ideal ripening conditions,
                great quality and moderate yields.</h4>
            <div class="clearfix">&nbsp;</div>
            <div class="clearfix">&nbsp;</div>
            <div class="productfamilytitle"><span class="spanclass">
                    <div class="col-lg-4 prod-col"></div>
                    <div class="col-lg-4 prod-col">
                        <a class="pir-link" href="https://wines.pirathon.com/2009/silver"><img class="pir-range"
                               src="{{ "./gcv/img/" | relURL }}pirathon-early-bottle.png"
                                alt="2009 Pirathon Shiraz" height="300"></a>
                        <a style="color: #182945;" href="https://wines.pirathon.com/2009/silver">
                            <h4 style="font-weight: bold;" class="text-center">Pirathon</h4>
                        </a>
                        <p class="text-left">Pirathon is the classic and award winning Pirathon Shiraz. Full bodied
                            displaying dark fruit characters contribute to this layered wine. This is an extremely
                            balanced Shiraz with fruit, oak and tannin working together.</p>
                        <div class="text-center"><span style="display:none" class="prod-btn"><a
                                    class="btn btn-primary prod-btn-wd"
                                    href="https://wines.pirathon.com/2009/silver">Read More</a></span></div>
                    </div>
                    <div class="col-lg-4 prod-col"></div>
                </span></div>
            <div class="clearfix">&nbsp;</div>
            <div class="clearfix">&nbsp;</div>
            <h3 style="text-align: center ! important;">2008 Vintage</h3>
            <h4 style="text-align: center ! important;">2008 was an extremely hot and dry vintage with superb ripening
                conditions until March. Overall this is a very good vintage, with average yields and great quality.</h4>
            <div class="clearfix">&nbsp;</div>
            <div class="clearfix">&nbsp;</div>
            <div class="productfamilytitle"><span class="spanclass">
                    <div class="col-lg-4 prod-col"></div>
                    <div class="col-lg-4 prod-col">
                        <a class="pir-link" href="https://wines.pirathon.com/2008/silver"><img class="pir-range"
                               src="{{ "./gcv/img/" | relURL }}pirathon-early-bottle.png"
                                alt="2008 Pirathon Shiraz" height="300"></a>
                        <a style="color: #182945;" href="https://wines.pirathon.com/2008/silver">
                            <h4 style="font-weight: bold;" class="text-center">Pirathon</h4>
                        </a>
                        <p class="text-left">Pirathon is the classic and award winning Pirathon Shiraz. Full bodied
                            displaying dark fruit characters contribute to this layered wine. This is an extremely
                            balanced Shiraz with fruit, oak and tannin working together.</p>
                        <div class="text-center"><span style="display:none" class="prod-btn"><a
                                    class="btn btn-primary prod-btn-wd"
                                    href="https://wines.pirathon.com/2008/silver">Read More</a></span></div>
                    </div>
                    <div class="col-lg-4 prod-col"></div>
                </span></div>
            <div class="clearfix">&nbsp;</div>
            <div class="clearfix">&nbsp;</div>
            <h3 style="text-align: center ! important;">2007 Vintage</h3>
            <h4 style="text-align: center ! important;">2007 was a drought affected vintage. The drought conditions
                resulted in reduced yields by abour 30% but importantly quality from 2007 is very good.</h4>
            <div class="clearfix">&nbsp;</div>
            <div class="clearfix">&nbsp;</div>
            <div class="productfamilytitle"><span class="spanclass">
                    <div class="col-lg-4 prod-col"></div>
                    <div class="col-lg-4 prod-col">
                        <a class="pir-link" href="https://wines.pirathon.com/2007/silver"><img class="pir-range"
                               src="{{ "./gcv/img/" | relURL }}pirathon-pre2007-bottle.png"
                                alt="2007 Pirathon Shiraz" height="300"></a>
                        <a style="color: #182945;" href="https://wines.pirathon.com/2007/silver">
                            <h4 style="font-weight: bold;" class="text-center">Pirathon</h4>
                        </a>
                        <p class="text-left">Pirathon is the classic and award winning Pirathon Shiraz. Full bodied
                            displaying dark fruit characters contribute to this layered wine. This is an extremely
                            balanced Shiraz with fruit, oak and tannin working together.</p>
                        <div class="text-center"><span style="display:none" class="prod-btn"><a
                                    class="btn btn-primary prod-btn-wd"
                                    href="https://wines.pirathon.com/2007/silver">Read More</a></span></div>
                    </div>
                    <div class="col-lg-4 prod-col"></div>
                </span></div>
            <div class="clearfix">&nbsp;</div>
            <div class="clearfix">&nbsp;</div>
            <h3 style="text-align: center ! important;">2006 Vintage</h3>
            <h4 style="text-align: center ! important;">Cool, wet conditions prevailed late in the season resulting in
                vibrant fresh fruit flavours being retained and predominating in the grapes.</h4>
            <div class="clearfix">&nbsp;</div>
            <div class="clearfix">&nbsp;</div>
            <div class="productfamilytitle"><span class="spanclass">
                    <div class="col-lg-4 prod-col"></div>
                    <div class="col-lg-4 prod-col">
                        <a class="pir-link" href="https://wines.pirathon.com/2006/silver"><img class="pir-range"
                               src="{{ "./gcv/img/" | relURL }}pirathon-pre2007-bottle.png"
                                alt="2006 Pirathon Shiraz" height="300"></a>
                        <a style="color: #182945;" href="https://wines.pirathon.com/2006/silver">
                            <h4 style="font-weight: bold;" class="text-center">Pirathon</h4>
                        </a>
                        <p class="text-left">Pirathon is the classic and award winning Pirathon Shiraz. Full bodied
                            displaying dark fruit characters contribute to this layered wine. This is an extremely
                            balanced Shiraz with fruit, oak and tannin working together.</p>
                        <div class="text-center"><span style="display:none" class="prod-btn"><a
                                    class="btn btn-primary prod-btn-wd"
                                    href="https://wines.pirathon.com/2006/silver">Read More</a></span></div>
                    </div>
                    <div class="col-lg-4 prod-col"></div>
                </span></div>
            <div class="clearfix">&nbsp;</div>
            <div class="clearfix">&nbsp;</div>
            <h3 style="text-align: center ! important;">2005 Vintage</h3>
            <h4 style="text-align: center ! important;">The 2005 growing season was one of the Barossa Valley's best
                with great rain in Spring and a dry Autumn with resulting in a great 2005 vintage.</h4>
            <div class="clearfix">&nbsp;</div>
            <div class="clearfix">&nbsp;</div>
            <div class="productfamilytitle"><span class="spanclass">
                    <div class="col-lg-4 prod-col"></div>
                    <div class="col-lg-4 prod-col">
                        <a class="pir-link" href="https://wines.pirathon.com/2005/silver"><img class="pir-range"
                               src="{{ "./gcv/img/" | relURL }}pirathon-pre2007-bottle.png"
                                alt="2005 Pirathon Shiraz" height="300"></a>
                        <a style="color: #182945;" href="https://wines.pirathon.com/2005/silver">
                            <h4 style="font-weight: bold;" class="text-center">Pirathon</h4>
                        </a>
                        <p class="text-left">Pirathon is the classic and award winning Pirathon Shiraz. Full bodied
                            displaying dark fruit characters contribute to this layered wine. This is an extremely
                            balanced Shiraz with fruit, oak and tannin working together.</p>
                        <div class="text-center"><span style="display:none" class="prod-btn"><a
                                    class="btn btn-primary prod-btn-wd"
                                    href="https://wines.pirathon.com/2005/silver">Read More</a></span></div>
                    </div>
                    <div class="col-lg-4 prod-col"></div>
                </span></div>
        </div>
    </div>
</div>