
<div class="container-fluid content2 vpanel-left corporatesections">
    <div class="container">
        <div class="col-md-12 lhs1 col-xs-12 productfamilypage">
            <div id="pirathon" class="clearfix borderbox" style="text-align: center; padding: 0px 0px 0px 0px;">
                <!-- column -->
                <div class="clearfix">&nbsp;</div>
                <p><a href="/properties/pirathon/"> <img class="inline" style="height: 75px; margin: 0px 0px 0px;"
                            title="Pirathon produces a range of full bodied Shiraz encompassing the great flavour, texture and structure of the north-western Barossa."
                            src="{{ "./gcv/img/" | relURL }}Pirathon_Banner_Logo_Small.png" alt="Pirathon.com"></a>
                    <br><a href="/properties/pirathon-winery"><br>Pirathon Winery</a></p>
                <p>Our wines are produced at our state of the art winery located in the picturesque Barossa Valley which
                    is capable of processing 480 tonnes of grapes per year. With our own facilities we can control
                    everything from the vineyard all the way through the winemaking process to produce the best possible
                    wine. We use screw cap closures to improve the consistency of our bottled wine.<br><br></p>
                <p><a href="/properties/pirathon-vineyard">Pirathon Vineyard</a></p>
                <p>The Pirathon Vineyard is located in the Barossa Valley grape growing region and consists of 52.14
                    acres (21.10 ha) of vines, with the earliest block dating back to 1970.</p>
                <p>&nbsp;&nbsp;</p>
                <div class="clearfix">&nbsp;</div>
                <div id="gcv" class="clearfix">&nbsp;</div>
                <div class="clearfix">&nbsp;</div>
                <p><a href="/properties/gaelic-cemetery-vineyard/"><img class="inline" style="height: 75px; margin: 0px 0px 0px;"
                            title="Gaelic Cemetery Vineyard crafts small volumes of super premium Clare Valley wines that reflect the variety, vintage and uniqueness of the place."
                            src="{{ "./gcv/img/" | relURL }}Logo-Brands.jpg"></a></p>
                <p style="margin: 10px 0px 0px 0px;"><a href="/properties/gaelic-cemetery-vineyard"><br>Gaelic Cemetery
                        Vineyard</a></p>
                <p style="margin: 10px 0px 0px 0px;">The Gaelic Cemetery Vineyard is located in the Clare Valley grape
                    growing region, with the earliest block in the vineyard dating back to 1996.</p>
                <div class="clearfix">&nbsp;</div>
                <div id="lanzerac" class="clearfix">&nbsp;</div>
                <div class="clearfix">&nbsp;</div>
                <p><a href="/properties/lanzerac-country-estate/"> <img class="inline" style="height: 157px; margin: 0px;"
                            title="Lanzerac Country Estate is a luxury accommodation located in Tanunda, heart of the Barossa. Ideal for celebrations, weddings, group and corporate bookings."
                            src="{{ "./gcv/img/" | relURL }}LanzeracLogoBanner.jpg" width="373"></a></p>
                <p style="margin: 10px 0px 0px 0px;"><a href="/properties/lanzerac-country-estate"
                        rel="alternate">lanzerac.estate</a></p>
                <div class="clearfix">&nbsp;</div>
                <p>Lanzerac Country Estate is a luxury accommodation located in Tanunda, heart of the Barossa. Ideal for
                    celebrations, weddings, group and corporate bookings.</p>
                <div class="clearfix">&nbsp;</div>
            </div>
        </div>
    </div>
</div>