<div class=" container-fluid content2 vpanel-left corporatesections">
    <div class="container">
        <div class="col-md-12 lhs1 col-xs-12">
            <div id="page" class="clearfix"><!-- column -->
                <h2><img style="width: 50px;"
                        title="Pirathon produces a full bodied Shiraz encompassing the great flavour, texture and structure of the north-western Barossa."
                        src="https://wines.gaeliccemeteryvineyard.com/templates/gaelic/images/Gaelic_Cemetery_Thistle.png"
                        alt="Gaelic Cemetery" width="50" height="48">&nbsp;Gaelic Cemetery</h2>
                <p>Gaelic Cemetery Vineyard crafts small volumes of super premium Clare Valley wines that reflect the
                    variety, vintage and uniqueness of the place.&nbsp;Gaelic Cemetery Vineyard is a highly awarded,
                    James Halliday&nbsp;five&nbsp;star rated wine brand with multiple medals and trophies won at Clare
                    Valley wine shows.&nbsp;The wines from Gaelic Cemetery Vineyard are packaged using fully recyclable
                    materials including the bottles, corks, screwcaps and cartons that are used. Our wines are also
                    vegan friendly.</p>
                <p>&nbsp;&nbsp;</p>
                <div class="wpb_text_column wpb_content_element  ">
                    <div class="wpb_wrapper">
                        <h3>Our Rieslings</h3>
                        <p>The&nbsp;Rieslings made by Gaelic Cemetery Vineyard are very much in the modern, dry
                            Australian style. Our aim each year is to pick earlier rather than later with the emphasis
                            on retaining good levels of natural acidity and capturing freshness of fruit. The grapes are
                            both machine and hand harvesting depending on the season and the block.</p>
                        <p>The grapes are for the most part de-stemmed, crushed and chilled prior to being drained off
                            through a membrane press. Some smaller parcels of fruit may be handpicked and whole bunch
                            pressed depending on the season. While the pressings are usually discarded the free run
                            juice is partially clarified by cold settling for a number of days. After racking off solids
                            the juice is then inoculated with a pure yeast culture and fermentation is carried out in
                            stainless steel, temperature controlled tanks.</p>
                        <p>Some solids may be retained in the “Premium” Riesling fermentation for additional texture and
                            complexity, however we prefer to ferment the “Celtic Farm” Riesling as clear settled juice.
                        </p>
                        <p>Fermentation lasts on average for 25-30 days and we usually look to retain a small amount of
                            residual sugar in the wines – stopping the ferment somewhere between 3-5 g/L. From here the
                            wine stays in tank on yeast lees for 4-5 months before clarification and finally bottling.
                            We&nbsp;only use PVPP which is a synthetic fining compound on the Rieslings. There are some
                            plant based fining agents coming on to the market now which we&nbsp;are planning to trial
                            going forward.</p>
                        <p>&nbsp;</p>
                        <h3>Our Reds</h3>
                        <p>As far as the Gaelic Cemetery Vineyard Reds go, the vineyard naturally produces quite
                            powerful wines and our challenge is to harness that strength to make wines of balance. We
                            encourage the wild yeasts of the vineyard to carry out the fermentation which is typically
                            10-12 days – the first few days being a cold soak prior to the yeast kicking in and starting
                            the ferment.</p>
                        <p>Pressing towards the end of the primary fermentation is followed by filling into new and used
                            French oak 228L casks to finish off. The secondary or malolactic fermentation is also
                            natural and occurs in barrel. The wine is racked several times during the maturation process
                            and will stay in barrel for an average of 18 months before final selection, blending and
                            subsequent bottling.</p>
                        <p>Finings are&nbsp;not added and little or no filtration is carried out prior to bottling in an
                            attempt to protect as much of the vineyard character as possible.</p>
                    </div>
                </div>
                <p>&nbsp;</p>
                <h3>History</h3>
                <p>Our vineyard was established in 1996 on a parcel of land immediately adjacent to the historic Gaelic
                    Cemetery approximately five kilometres due north of the Clare township – hence the name. The Gaelic
                    Cemetery Vineyard label design reflects the simplicity and minimal intervention approach we take
                    with the wine. The image of the thistle is taken from an old headstone in the cemetery.</p>
                <p>&nbsp;</p>
                <h3>The Team</h3>
                <p>The Gaelic Cemetery Vineyard brand was sold in late 2019 and has continued to go from strength to
                    strength. The Pike family created an excellent brand and award-winning wine with Gaelic Cemetery.
                    Our aim is to further support this excellent foundation to ensure the business grows organically and
                    sustainably over the long term.</p>
                <div class="videoplayer" style="margin: 0 auto;">
                    <div
                        style="position: relative; padding-bottom: 56.25%; padding-top: 30px; height: 0; overflow: hidden;">
                        <p class="text-center">&nbsp;</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>