<div class=" container-fluid content2 vpanel-left corporatesections">
    <div class="container">
        <div class="col-md-12 lhs1 col-xs-12">
            <p>&nbsp;</p>
            <br>
            <div class="box1">
                <h5>Contact Sales Team</h5>
            </div>
            <div class="row panel-container2">
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">America</div>
                        <div class="panel-body">
                            <ul class="list-unstyled">
                                <li><img
                                        src="https://www.gaeliccemeteryvineyard.com/templates/aspose/images/icons/CountryFlag-US.png">
                                    USA</li>
                                <li><i class="fa fa-phone">&nbsp;</i> +1 903 306 1676</li>
                                <li><i class="fa fa-evelope">&nbsp;</i> <span
                                        id="cloak1520795fbd8c4adaf8eb160bd71be9ce"><a
                                            href="mailto:sales@gaeliccemeteryvineyard.com">sales@gaeliccemeteryvineyard.com</a></span>
                                    <script
                                        type="text/javascript">document.getElementById('cloak1520795fbd8c4adaf8eb160bd71be9ce').innerHTML = ''; var prefix = '&#109;a' + 'i&#108;' + '&#116;o'; var path = 'hr' + 'ef' + '='; var addy1520795fbd8c4adaf8eb160bd71be9ce = 's&#97;l&#101;s' + '&#64;'; addy1520795fbd8c4adaf8eb160bd71be9ce = addy1520795fbd8c4adaf8eb160bd71be9ce + 'g&#97;&#101;l&#105;cc&#101;m&#101;t&#101;ryv&#105;n&#101;y&#97;rd' + '&#46;' + 'c&#111;m'; var addy_text1520795fbd8c4adaf8eb160bd71be9ce = 's&#97;l&#101;s' + '&#64;' + 'g&#97;&#101;l&#105;cc&#101;m&#101;t&#101;ryv&#105;n&#101;y&#97;rd' + '&#46;' + 'c&#111;m'; document.getElementById('cloak1520795fbd8c4adaf8eb160bd71be9ce').innerHTML += '<a ' + path + '\'' + prefix + ':' + addy1520795fbd8c4adaf8eb160bd71be9ce + '\'>' + addy_text1520795fbd8c4adaf8eb160bd71be9ce + '<\/a>';</script>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--/ -->
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">Europe</div>
                        <div class="panel-body">
                            <ul class="list-unstyled">
                                <li><img
                                        src="https://www.gaeliccemeteryvineyard.com/templates/aspose/images/icons/CountryFlag-UK.png">
                                    UK</li>
                                <li><i class="fa fa-phone">&nbsp;</i> +44 141 628 8900</li>
                                <li><i class="fa fa-evelope">&nbsp;</i> <span
                                        id="cloak0807ab581899fe0fc877e648fd78e7a0"><a
                                            href="mailto:sales@gaeliccemeteryvineyard.com">sales@gaeliccemeteryvineyard.com&nbsp;</a></span>
                                    <script
                                        type="text/javascript">document.getElementById('cloak0807ab581899fe0fc877e648fd78e7a0').innerHTML = ''; var prefix = '&#109;a' + 'i&#108;' + '&#116;o'; var path = 'hr' + 'ef' + '='; var addy0807ab581899fe0fc877e648fd78e7a0 = 's&#97;l&#101;s' + '&#64;'; addy0807ab581899fe0fc877e648fd78e7a0 = addy0807ab581899fe0fc877e648fd78e7a0 + 'g&#97;&#101;l&#105;cc&#101;m&#101;t&#101;ryv&#105;n&#101;y&#97;rd' + '&#46;' + 'c&#111;m'; var addy_text0807ab581899fe0fc877e648fd78e7a0 = 's&#97;l&#101;s@g&#97;&#101;l&#105;cc&#101;m&#101;t&#101;ryv&#105;n&#101;y&#97;rd.c&#111;m&nbsp;'; document.getElementById('cloak0807ab581899fe0fc877e648fd78e7a0').innerHTML += '<a ' + path + '\'' + prefix + ':' + addy0807ab581899fe0fc877e648fd78e7a0 + '\'>' + addy_text0807ab581899fe0fc877e648fd78e7a0 + '<\/a>';</script>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">Oceania</div>
                        <div class="panel-body">
                            <ul class="list-unstyled">
                                <li><img
                                        src="https://www.gaeliccemeteryvineyard.com/templates/aspose/images/icons/CountryFlag-AUSTRALIA.png">
                                    Australia</li>
                                <li><i class="fa fa-phone">&nbsp;</i> +61 2 8006 6987</li>
                                <li><i class="fa fa-evelope">&nbsp;</i> <span
                                        id="cloak0366b2fc0f2e08ead4ceb2ae4432c753"><a
                                            href="mailto:sales@gaeliccemeteryvineyard.com">sales@gaeliccemeteryvineyard.com&nbsp;</a></span>
                                    <script
                                        type="text/javascript">document.getElementById('cloak0366b2fc0f2e08ead4ceb2ae4432c753').innerHTML = ''; var prefix = '&#109;a' + 'i&#108;' + '&#116;o'; var path = 'hr' + 'ef' + '='; var addy0366b2fc0f2e08ead4ceb2ae4432c753 = 's&#97;l&#101;s' + '&#64;'; addy0366b2fc0f2e08ead4ceb2ae4432c753 = addy0366b2fc0f2e08ead4ceb2ae4432c753 + 'g&#97;&#101;l&#105;cc&#101;m&#101;t&#101;ryv&#105;n&#101;y&#97;rd' + '&#46;' + 'c&#111;m'; var addy_text0366b2fc0f2e08ead4ceb2ae4432c753 = 's&#97;l&#101;s@g&#97;&#101;l&#105;cc&#101;m&#101;t&#101;ryv&#105;n&#101;y&#97;rd.c&#111;m&nbsp;'; document.getElementById('cloak0366b2fc0f2e08ead4ceb2ae4432c753').innerHTML += '<a ' + path + '\'' + prefix + ':' + addy0366b2fc0f2e08ead4ceb2ae4432c753 + '\'>' + addy_text0366b2fc0f2e08ead4ceb2ae4432c753 + '<\/a>';</script>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearall">&nbsp;</div>
            <div class="box1">
                <h5>Mailing Address:</h5>
                <p>Vintnerize Pty Ltd,&nbsp;979 Light Pass Road, Vine Vale SA 5352, Australia. <br><a class="btn-sm"
                        href="/legal/paperless-policy" rel="alternate">Paperless Policy</a></p>
            </div>
        </div>
    </div>
</div>