<div class=" container-fluid content2 vpanel-left corporatesections">
    <div class="container">
        <div class="col-md-12 lhs1 col-xs-12">
            <div class="siteContentPanel100w">
                <p>In this section you can find detailed legal information regarding the purchase policies, terms of
                    use, copyright, and privacy policy.</p>
                <div class="clearfix">&nbsp;</div>
                <div class="clearfix">&nbsp;</div>
                <h5><a style="color: #182945;" href="/about/legal/purchase-policies">Purchase Policies</a></h5>
                <p>A collection of our general policies and practices that relate to purchase of our products. <a
                        href="/about/legal/purchase-policies" rel="alternate">More ...</a></p>
                <div class="clearfix">&nbsp;</div>
                <h5><a style="color: #182945;" href="/about/legal/terms-of-use">Terms of Use</a></h5>
                <p>The following defines the terms of a legal agreement between you and Gaelic Cemetery Vineyard. By
                    accessing, browsing, and/or using any of our websites, you acknowledge that you have read,
                    understood, and agree to be bound by these terms and to comply with all applicable laws and
                    regulations. <a href="/about/legal/terms-of-use" rel="alternate">More ...</a></p>
                <div class="clearfix">&nbsp;</div>
                <h5><a style="color: #182945;" href="/about/legal/copyright-notice">Copyright Notice</a></h5>
                <p>The complete copyright notice detailing the rights of Gaelic Cemetery Vineyard with regards to the
                    contents of the website and description of all the trademarks.&nbsp;<a
                        href="/about/legal/copyright-notice" rel="alternate">More ...</a></p>
                <div class="clearfix">&nbsp;</div>
                <h5><a style="color: #182945;" href="/about/legal/privacy-policy">Privacy Policy</a></h5>
                <p>A detailed description of the Gaelic Cemetery Vineyard privacy policy with regards to the users of
                    the Gaelic Cemetery Vineyard websites. <a href="/about/legal/privacy-policy" rel="alternate">More ...</a>
                </p>
            </div>
        </div>
    </div>
</div>