<!-- Section Distributors and Retailers    -->

<div class="container hp-customers gr-margin bg-white">
    <div class="row">
        <div class="col-md-12">
            <h2>Our Distributors and Retailers<small>Distributed by some of the best in the industry domestically and
                    around the globe</small></h2>
            <div class="clearall">&nbsp;</div>
        </div>
    </div>
</div>

<div class="container-fluid  hp-customers">
    <div class="container customerslogo">
        <div class="row">
            <div class="col-md-3 col-xs-6"><img style="height: 50px;"
                    src="https://www.gaeliccemeteryvineyard.com/templates/pirathonv2.0/images/distributors/ClaretLogo.jpg"
                    alt="Claret and Co"></div>
            <div class="col-md-3 col-xs-6"><img style="height: 50px;"
                    src="https://www.gaeliccemeteryvineyard.com/templates/pirathonv2.0/images/distributors/PorterCo-logo.JPG"
                    alt="Porter and Co"></div>
            <div class="col-md-3 col-xs-6"><img style="height: 50px;"
                    src="https://www.gaeliccemeteryvineyard.com/templates/pirathonv2.0/images/distributors/Justwines-logo.jpg"
                    alt="Just Wines"></div>
            <div class="col-md-3 col-xs-6"><img style="height: 60px;"
                    src="https://www.gaeliccemeteryvineyard.com/templates/pirathonv2.0/images/distributors/DejaVuWine-logo.jpg"
                    alt="Dejavu Wines"></div>
        </div>
        <div class="row">
            <div class="col-md-3 col-xs-6"><img style="height: 50px;"
                    src="https://www.gaeliccemeteryvineyard.com/templates/pirathonv2.0/images/distributors/Barons-Logo.jpg"
                    alt="Liquor Barons"></div>
            <div class="col-md-3 col-xs-6"><img style="height: 50px;"
                    src="https://www.gaeliccemeteryvineyard.com/templates/pirathonv2.0/images/distributors/DanMurphy.png"
                    alt="Dan Murphy"></div>
            <div class="col-md-3 col-xs-6"><img style="height: 60px;"
                    src="https://www.gaeliccemeteryvineyard.com/templates/pirathonv2.0/images/distributors/Inlandtrading-logo.png"
                    alt="Inland Trading"></div>
            <div class="col-md-3 col-xs-6"><img style="height: 50px;"
                    src="https://www.gaeliccemeteryvineyard.com/templates/pirathonv2.0/images/distributors/BoozeBrothers.png"
                    alt="Booze Brothers"></div>
        </div>
        <div class="row">
            <div class="col-md-3 col-xs-6"><img style="height: 50px;"
                    src="https://www.gaeliccemeteryvineyard.com/templates/pirathonv2.0/images/distributors/DeVine.png"
                    alt="De Vines"></div>
            <div class="col-md-3 col-xs-6"><img style="height: 50px;"
                    src="https://www.gaeliccemeteryvineyard.com/templates/pirathonv2.0/images/distributors/Jims.png"
                    alt="Jims Cellars"></div>
            <div class="col-md-3 col-xs-6"><img style="height: 50px;"
                    src="https://www.gaeliccemeteryvineyard.com/templates/pirathonv2.0/images/distributors/VintageCellars.png"
                    alt="Vintage Cellars"></div>
            <div class="col-md-3 col-xs-6"><img style="height: 50px;"
                    src="https://www.gaeliccemeteryvineyard.com/templates/pirathonv2.0/images/distributors/Popup Wine.png"
                    alt="Pop up Wine"></div>
            <div class="clearfix tc centerbutton"><a class="btn-primary btn-lg whitebg"
                    href="https://purchase.pirathon.com/distributors">View All</a></div>
        </div>
        <!--/row2 --> <!--/row3 -->
    </div>
    <!--/container -->
</div>