<!-- Sectoin about ...     -->

<div class="container-fluid statscount bg-white">
    <div class="container hp-cases">
        <div class="row">
            <div class="col-md-12">
                <h2>GAELIC CEMETERY VINEYARD</h2>
                <div class="casestudy">
                    <div class="col-lg-12 casestudies">
                        <p>The Gaelic Cemetery&nbsp;Vineyard itself was established in 1996 on a parcel of land
                            immediately adjacent to the historic Gaelic Cemetery approximately five kilometres due north
                            of the Clare township – hence the name.</p>
                        <p>The Gaelic Cemetery&nbsp;Vineyard label design reflects the simplicity and minimal
                            intervention approach we take with the wine. The image of the thistle is taken from an old
                            headstone in the cemetery.</p>
                        <div class="clearfix tc"><a class="btn-primary btn-lg whitebg"
                                href="https://about.gaeliccemeteryvineyard.com/">Read More</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>