<!-- First section  -->
<div class="body-content home">
    <div class="container-fluid static_header gaelicbgnew header3">
        <div class="container headertitle">
            <div class="row">
                <div class="col-md-6 headertext homeheader">
                    <p>
                    </p>
                    <h1
                        style="text-shadow: 1.5px 1.5px 0 #000, 0px 0px 0 #000, -1.5px -1.5px 0 #000, -1.5px 1.5px 0 #000, 1.5px 1.5px 0 #000 !important;">
                        SUPER PREMIUM CLARE VALLEY WINES</h1>
                    <div class="homecta">
                        <h4
                            style="text-shadow: 1.5px 1.5px 0 #000, 0px 0px 0 #000, -1.5px -1.5px 0 #000, -1.5px 1.5px 0 #000, 1.5px 1.5px 0 #000 !important;">
                            We are a five star rated, multi-award winning producer of high quality wines that reflect
                            the
                            variety, vintage and uniqueness of the place.</h4>
                        <a class="btn btn-danger btn-lg" href="https://purchase.gaeliccemeteryvineyard.com"> Shop
                            Online</a>
                    </div>
                </div>
            </div>
        </div>
        <!--/container -->
    </div>
</div>