<!--  Section for products  -->

<div class="container productsrow productsrow2">
    <div class="row">
        <div class="col-md-12">
            <div class="col-lg-4 total_product">
                <div class="productbox">
                    <h4><a href="/wines/2019">2019 Vintage</a></h4>
                    <a href="/wines/2019"><img
                            src="{{ "./gcv/img/" | relURL }}2019Vintage.png" alt="2019 Vintage"></a>
                    <p>McAskill Cabernet Malbec, Premium Riesling, Celtic Farm Riesling &amp; McAskill Shiraz</p>
                    <br><br> <a class="btn btn-primary" href="/wines/2019">Read
                        More</a>
                </div>
                <!--Product Box -->
            </div>
           

            <div class="col-lg-4 total_product">
                <div class="productbox">
                    <h4><a href="/wines/2018">2018 Vintage</a></h4>
                    <a href="/wines/2018"><img
                            src="{{ "./gcv/img/" | relURL }}2018Vintage.png" alt="2018 Vintage"></a>
                    <p>Premium Cab Malbec, Premium Riesling, Celtic <br>Farm Riesling, Celtic Farm Shiraz Cabernet &amp;
                        <br>Premium Shiraz
                    </p>
                    <br><a class="btn btn-primary" href="/wines/2018">Read More</a>
                </div>

            </div>
            <!--Product Box -->
            <div class="col-lg-4 total_product">
                <div class="productbox">
                    <h4><a href="/wines/2017">2012 Vintage</a></h4>
                    <a href="/wines/2017"><img
                            src="{{ "./gcv/img/" | relURL }}2017Vintage.png" alt="2017 Vintage"></a>
                    <p style="margin-bottom: 32px;">Premium Cab Malbec, Premium Riesling, Celtic <br>Farm Riesling,
                        Celtic Farm Shiraz Cabernet &amp; <br>Premium Shiraz</p>
                    <a class="btn btn-primary" href="/wines/2017">Read More</a>
                </div>

            </div>
            <!--Product Box -->

        </div>
    </div>
    <div class="text-center" style="margin-top: 15px;"><em>Highest ABV: 14.5%. Vegan Friendly</em></div>
    <div class="clearfix tc centerbutton"><a class="btn-primary btn-lg whitebg"
            href="/wines">View All Vintages</a></div>
</div>