<!--  Section Awards -->

<div class="container-fluid bg-gray-e3 ">
    <div class="container hp-cases">
        <div class="row">
            <div class="col-md-12">
                <h2>Award Winning Wines&nbsp;<small>Don't just take our word for it. Here are some awards we have won.
                    </small><small>Read more on the <a href="https://blog.gaeliccemeteryvineyard.com">blog</a>.</small>
                </h2>
                <div class="casestudy">
                    <div class="col-lg-3 casestudies">
                        <h1><em class="fa fa-trophy">&nbsp;</em></h1>
                        <h4>94 Points</h4>
                        <p>Mike Bennie, Wine Business Magazine</p>
                    </div>
                    <div class="col-lg-3 casestudies">
                        <h1><em class="fa fa-star">&nbsp;</em><em class="fa fa-star">&nbsp;</em><em
                                class="fa fa-star">&nbsp;</em><em class="fa fa-star">&nbsp;</em><em
                                class="fa fa-star-half">&nbsp;</em></h1>
                        <h4>4½ Stars</h4>
                        <p>Tony Love, Wine with Tony Love</p>
                    </div>
                    <div class="col-lg-3 casestudies">
                        <h1><i class="icon-consume">&nbsp;</i></h1>
                        <h4>95 Points</h4>
                        <p>&nbsp;James Halliday, The Wine Companion</p>
                    </div>
                    <div class="col-lg-3 casestudies">
                        <h1><em class="fa fa-trophy">&nbsp;</em></h1>
                        <h4>93 Points - Highly recommended</h4>
                        <p>Toni Paterson MW, The Real Review</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>