<!-- Instagram section   -->

<div class="container-fluid bg-red ">
    <div class="container hp-testi">
        <div class="row">
            <div class="col-md-12">
                <h2>Follow us on Instagram <a class="instagrame" style="color: white;" title="Follow us on Instagram"
                        href="https://www.instagram.com/gaeliccemeteryvineyard/"><i
                            class="fa-instagram fa">&nbsp;</i></a> <small>Share your moments using
                        #gaeliccemeteryvineyard</small></h2>
                <div class="wrapper">
                    <div id="instafeed">
                        <div class="item" style="border-radius: 5px; background: url('/img/instagram-1.jpg');background-size: cover;">
                            <table>
                                <tbody>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td rowspan="2"><img style="border-radius: 5px;"
                                                usemap="http://drive.google.com/uc?export=view&amp;id=10OKKi5Av161DbMuWZDkDsiNyD89jKiiP"><img
                                                style="top: -80%; left: 0%;"
                                                src="https://cms.admin.containerize.com/templates/pirathonv2.0/images/instagramicon.png"
                                                height="42"></td>
                                    </tr>
                                    <tr>
                                        <td class="text" style="font-size: 0.75em; word-wrap: break-word; z-index: 200;"
                                            colspan="2">
                                            <div
                                                style="font-weight: bold; padding: 15px; position: relative; top: 125px;">
                                                Hola 👋🏽 Wine World! Finally Friday 🥳and long weekend for us here in
                                                Western Australia 🇦🇺! I’m outdoors sipping #Riesling😋 and catching
                                                some rays☀️You’re welcome to virtually join 😀How do you enjoy your…
                                            </div>
                                            <a class="text animated flipInX" style="opacity: 0; animation-delay: 0ms;"
                                                href="https://www.instagram.com/p/CarSKoYrq40/" target="_blank"
                                                rel="noopener noreferrer">.</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="likes" style="line-height: 20px;">
                                <div style="padding-top: 80px;">♥<span style="font-size: 0.82em;"> 1,196</span></div>
                            </div>
                        </div>
                        <div class="item" style="border-radius: 5px;">
                            <table>
                                <tbody>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td rowspan="2"><img style="border-radius: 5px;"
                                                usemap="http://drive.google.com/uc?export=view&amp;id=1TLhiDVVgZbSdY6om_J7aYotjLN2BI6C4"><img
                                                style="top: -80%; left: 0%;"
                                                src="https://cms.admin.containerize.com/templates/pirathonv2.0/images/instagramicon.png"
                                                height="42"></td>
                                    </tr>
                                    <tr>
                                        <td class="text" style="font-size: 0.75em; word-wrap: break-word; z-index: 200;"
                                            colspan="2">
                                            <div
                                                style="font-weight: bold; padding: 15px; position: relative; top: 125px;">
                                                Riesling with its game face on 👌 Focused with some development under
                                                its belt, this Clare Valley @gaeliccemeteryvineyard treasure gives a
                                                wonderful insight into where it's headed for the years to come. This…
                                            </div>
                                            <a class="text animated flipInX" style="opacity: 0; animation-delay: 75ms;"
                                                href="https://www.instagram.com/p/CVj_tEqp0Mz/" target="_blank"
                                                rel="noopener noreferrer">.</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="likes" style="line-height: 20px;">
                                <div style="padding-top: 80px;">♥<span style="font-size: 0.82em;"> 88</span></div>
                            </div>
                        </div>
                        <div class="item" style="border-radius: 5px;">
                            <table>
                                <tbody>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td rowspan="2"><img style="border-radius: 5px;"
                                                usemap="http://drive.google.com/uc?export=view&amp;id=1VyGX-f8jcaGTnnUhAHG7UHXXFLAkJchB"><img
                                                style="top: -80%; left: 0%;"
                                                src="https://cms.admin.containerize.com/templates/pirathonv2.0/images/instagramicon.png"
                                                height="42"></td>
                                    </tr>
                                    <tr>
                                        <td class="text" style="font-size: 0.75em; word-wrap: break-word; z-index: 200;"
                                            colspan="2">
                                            <div
                                                style="font-weight: bold; padding: 15px; position: relative; top: 125px;">
                                                @gaeliccemeteryvineyard crafts small volumes of super premium Clare
                                                Valley wines that reflect the variety, vintage and uniqueness of the
                                                place. The Gaelic Cemetery vineyard itself was established in 1996 on…
                                            </div>
                                            <a class="text animated flipInX" style="opacity: 0; animation-delay: 150ms;"
                                                href="https://www.instagram.com/explore/tags/gaeliccemetery/"
                                                target="_blank" rel="noopener noreferrer">.</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="likes" style="line-height: 20px;">
                                <div style="padding-top: 80px;">♥<span style="font-size: 0.82em;"> 36</span></div>
                            </div>
                        </div>
                        <div class="item" style="border-radius: 5px;">
                            <table>
                                <tbody>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td rowspan="2"><img style="border-radius: 5px;"
                                                usemap="http://drive.google.com/uc?export=view&amp;id=1NYwyxuls2xQmsN62MTjdxEdO94WmAkzT"><img
                                                style="top: -80%; left: 0%;"
                                                src="https://cms.admin.containerize.com/templates/pirathonv2.0/images/instagramicon.png"
                                                height="42"></td>
                                    </tr>
                                    <tr>
                                        <td class="text" style="font-size: 0.75em; word-wrap: break-word; z-index: 200;"
                                            colspan="2">
                                            <div
                                                style="font-weight: bold; padding: 15px; position: relative; top: 125px;">
                                                #gaeliccemetery #winelover #cabernetmalbec #clarevalley
                                                #clarevalleyaustralia #redwine #redwinelover #instawine #wineoclock
                                                #winelover #ilovewine</div>
                                            <a class="text animated flipInX" style="opacity: 0; animation-delay: 225ms;"
                                                href="https://www.instagram.com/explore/tags/gaeliccemetery/"
                                                target="_blank" rel="noopener noreferrer">.</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="likes" style="line-height: 20px;">
                                <div style="padding-top: 80px;">♥<span style="font-size: 0.82em;"> 8</span></div>
                            </div>
                        </div>
                        <div class="item" style="border-radius: 5px;">
                            <table>
                                <tbody>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td rowspan="2"><img style="border-radius: 5px;"
                                                usemap="http://drive.google.com/uc?export=view&amp;id=1DMEUUvuDbBQDbF4hNlL6sM399ZCr_T1U"><img
                                                style="top: -80%; left: 0%;"
                                                src="https://cms.admin.containerize.com/templates/pirathonv2.0/images/instagramicon.png"
                                                height="42"></td>
                                    </tr>
                                    <tr>
                                        <td class="text" style="font-size: 0.75em; word-wrap: break-word; z-index: 200;"
                                            colspan="2">
                                            <div
                                                style="font-weight: bold; padding: 15px; position: relative; top: 125px;">
                                                Loving the Gaelic Cemetery 2012 Clare Valley Shiraz, a full bodied wine.
                                                Smooth and beautifully balanced with a long layered spicy finish. Also
                                                loving the quirky and whimsical art from the talented…</div>
                                            <a class="text animated flipInX" style="opacity: 0; animation-delay: 300ms;"
                                                href="https://www.instagram.com/explore/tags/gaeliccemetery/"
                                                target="_blank" rel="noopener noreferrer">.</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="likes" style="line-height: 20px;">
                                <div style="padding-top: 80px;">♥<span style="font-size: 0.82em;"> 687</span></div>
                            </div>
                        </div>
                        <div class="item" style="border-radius: 5px;">
                            <table>
                                <tbody>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td rowspan="2"><img style="border-radius: 5px;"
                                                usemap="http://drive.google.com/uc?export=view&amp;id=1Pt6q8nJ0YH-TXeUjgPY8kuFEU3ueTGtG"><img
                                                style="top: -80%; left: 0%;"
                                                src="https://cms.admin.containerize.com/templates/pirathonv2.0/images/instagramicon.png"
                                                height="42"></td>
                                    </tr>
                                    <tr>
                                        <td class="text" style="font-size: 0.75em; word-wrap: break-word; z-index: 200;"
                                            colspan="2">
                                            <div
                                                style="font-weight: bold; padding: 15px; position: relative; top: 125px;">
                                                @goma_restaurant for Sunday lunch with @mattblackwell6 innovative
                                                delicious modern dishes creating their own art form. Our share menu
                                                included oysters,sour cream,smoked herring roe,spring onion( #1);crispy…
                                            </div>
                                            <a class="text animated flipInX" style="opacity: 0; animation-delay: 375ms;"
                                                href="https://www.instagram.com/explore/tags/gaeliccemeteryvineyard/"
                                                target="_blank" rel="noopener noreferrer">.</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="likes" style="line-height: 20px;">
                                <div style="padding-top: 80px;">♥<span style="font-size: 0.82em;"> 28</span></div>
                            </div>
                        </div>
                        <div class="item" style="border-radius: 5px;">
                            <table>
                                <tbody>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td rowspan="2"><img style="border-radius: 5px;"
                                                usemap="http://drive.google.com/uc?export=view&amp;id=1lVXjmhHcJ0p83ZOcngAmM1z3bAmgpgti"><img
                                                style="top: -80%; left: 0%;"
                                                src="https://cms.admin.containerize.com/templates/pirathonv2.0/images/instagramicon.png"
                                                height="42"></td>
                                    </tr>
                                    <tr>
                                        <td class="text" style="font-size: 0.75em; word-wrap: break-word; z-index: 200;"
                                            colspan="2">
                                            <div
                                                style="font-weight: bold; padding: 15px; position: relative; top: 125px;">
                                                Wine Dinner with friends #domperignon2008 #antinorimuffato
                                                #gajabarbaresco #mongeardmugneret #domaineroulot #gaeliccemeteryvineyard
                                                #sylvaincathiard #hennessyxxo</div>
                                            <a class="text animated flipInX" style="opacity: 0; animation-delay: 450ms;"
                                                href="https://www.instagram.com/explore/tags/gaeliccemeteryvineyard/"
                                                target="_blank" rel="noopener noreferrer">.</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="likes" style="line-height: 20px;">
                                <div style="padding-top: 80px;">♥<span style="font-size: 0.82em;"> 47</span></div>
                            </div>
                        </div>
                        <div class="item" style="border-radius: 5px;">
                            <table>
                                <tbody>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td rowspan="2"><img style="border-radius: 5px;"
                                                usemap="http://drive.google.com/uc?export=view&amp;id=1oWU4NlwXNUJqI9BOAIOkDz2ZnJd4KEHD"><img
                                                style="top: -80%; left: 0%;"
                                                src="https://cms.admin.containerize.com/templates/pirathonv2.0/images/instagramicon.png"
                                                height="42"></td>
                                    </tr>
                                    <tr>
                                        <td class="text" style="font-size: 0.75em; word-wrap: break-word; z-index: 200;"
                                            colspan="2">
                                            <div
                                                style="font-weight: bold; padding: 15px; position: relative; top: 125px;">
                                                A 93/100 rating courtesy of @qwinereviews which we are thrilled with.
                                                "Riesling with its game face on. Focused with some development under its
                                                belt, this Clare Valley treasure gives a wonderful insight into…</div>
                                            <a class="text animated flipInX" style="opacity: 0; animation-delay: 525ms;"
                                                href="https://www.instagram.com/gaeliccemeteryvineyard/" target="_blank"
                                                rel="noopener noreferrer">.</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="likes" style="line-height: 20px;">
                                <div style="padding-top: 80px;">♥<span style="font-size: 0.82em;"> 15</span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <script>var images = $("#instafeed").find('a'); $.each(images, function (index, image) { var delay = (index * 75) + 'ms'; $(image).css('-webkit-animation-delay', delay); $(image).css('-moz-animation-delay', delay); $(image).css('-ms-animation-delay', delay); $(image).css('-o-animation-delay', delay); $(image).css('animation-delay', delay); $(image).addClass('animated flipInX'); });</script>
                <script>$(window).on('load', function () { $(function () { $.each($("#instafeed").find('img'), function () { var this_image = this; var src = $(this_image).attr('src') || ''; if (!src.length > 0) { var lsrc = $(this_image).attr('usemap') || ''; if (lsrc.length > 0) { var img = new Image(); img.src = lsrc; $(img).on('load', function () { this_image.src = this.src; }); } } }); }); });</script>
            </div>
        </div>
    </div>
</div>
