<div class=" container-fluid content2 vpanel-left corporatesections">
    <div class="container">
        <div class="col-md-1 lhs1 col-xs-1 productfamilypage">&nbsp;</div>
        <div class="col-md-10 lhs1 col-xs-10 productfamilypage" style="padding-bottom: 0px;">
            <div class="clearall">&nbsp;</div>
            <div class="clearall">Pirathon owns and operates two vineyards in South Australia. The Gaelic Cemetery
                Vineyard is located in the Clare Valley grape growing region, with the earliest block&nbsp;in the
                vineyard dating back to 1996.</div>
            <div class="clearall">&nbsp;</div>
            <div class="clearall">The site was picked for it's excellent viticulture prospects.&nbsp;The vineyard is
                located on a parcel of land immediately adjacent to the historic Gaelic Cemetery approximately five
                kilometres due north of the Clare township – hence the name. The total area of approximately 32 hectares
                and established vineyards planted to 16.81 hectares.</div>
            <div class="clearall">&nbsp;</div>
            <div class="clearall">&nbsp;</div>
            <div class="clearall" style="display: none;">&nbsp;</div>
            <div class="videoplayer" style="display: none; margin: 0 auto;">
                <div
                    style="position: relative; padding-bottom: 56.25%; padding-top: 30px; height: 0; overflow: hidden;">
                    <p class="text-center"><iframe style="position: absolute; top: 0; left: 0;"
                            title="Pirathon Vineyard Video"
                            src="https://www.youtube.com/embed/JWa3TcLueKw?controls=0&amp;start=9&amp;loop=1"
                            width="100%" height="100%" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
                </div>
            </div>
            <div class="clearall" style="display: none;">&nbsp;</div>
            <div class="clearall" style="display: none;">&nbsp;</div>
            <h5>Location</h5>
            <p><a href="https://www.google.com/maps/place/201+Gaelic+Cemetery+Rd,+Stanley+Flat+SA+5453,+Australia"
                    target="_blank" rel="noopener noreferrer">201 Gaelic Cemetery Rd, Stanley Flat SA 5453,
                    Australia</a></p>
            <p>&nbsp;</p>
            <h5>Growing Region</h5>
            <p><em>Region:</em>&nbsp;Clare Valley</p>
            <p>The Clare Valley wine region is one of Australia's oldest wine regions, best known for Riesling wines.
                The climate features a warm to hot summer, but cooling afternoon breezes play a major role in slowing
                down the ripening process. Despite the warm climate it's capable of producing elegant cooler-climate
                styles. Some of Australia's finest Riesling is grown in the Clare Valley, and the region also produces
                many other wine styles, including Cabernet Sauvignon and Shiraz.</p>
            <p>The Clare Valley Wine Region does not have any legally-defined subregions but is sometimes informally
                divided into five subregions named for the towns in those growing areas: Auburn, Clare, Polish Hill
                River, Sevenhill and Watervale.</p>
            <p>&nbsp;</p>
            <h5>Vineyard&nbsp;History</h5>
            <p>Shiraz and Riesling cuttings were sourced from the Pikes A10 and C2 blocks at Polish Hill River in 1995
                and planted out in 1996 on some gently sloping, East facing land at White Hut tucked in behind the hills
                that overlook Stanley Flat. Subsequent smaller plantings of Cabernet Sauvignon and Malbec followed the
                initial vineyard development.</p>
            <p>Over the first 10 years the crop level has averaged a tiny 1.9 tonnes/acre.</p>
            <p>The Gaelic Cemetery Vineyard is always one of the earliest ripening Shiraz and Riesling vineyards in the
                Clare region and mystifyingly produces fruit with a pH/acid analysis that are usually exemplary. There
                is no issue in achieving full fruit maturity.</p>
            <p>&nbsp;</p>
            <h5>Vineyard Elevation / Altitude</h5>
            <p>400m above sea level (1,310 ft) which means cooler daytime and nighttime temperatures and&nbsp;vines and
                grapes protected from the hot afternoon.</p>
            <p>&nbsp;</p>
            <h5>Growing Soils&nbsp;</h5>
            <p>After a couple of early vintages from the very young vines, it soon became quite evident that the soils
                and aspect of the vineyard were ideally suited to the growing of extremely low vigour / low yielding
                vines, delivering fruit packed with concentrated flavor and firm textures.</p>
            <p>&nbsp;</p>
            <h5 style="display: none;">Average Rainfall&nbsp;and Temperature</h5>
            <p style="display: none;">&nbsp;</p>
            <h5>Wines Produced</h5>
            <p>Pirathon offers four tiers of wine under the Gaelic Cemetery Vineyard brand. These wines are made in very
                small volumes and it's all about showcasing the very best about what we can do in the vineyard. The
                winemaking philosophy is all about showing the varietal expression and showcasing the vineyard.</p>
            <p>&nbsp;</p>
            <ul>
                <li>The Rieslings is all about the Care Valley characters of lovely citrus fruit, lemon lime and lively,
                    lacy acid.</li>
                <li>The reds are medium body to medium full body with really good fruit definition, long fine tannins
                    and a nice balance of fruit sweetness and savouriness which work really well with food.</li>
            </ul>
            <p>&nbsp;</p>
            <p>For a full list of our wines check out&nbsp;what the&nbsp;<a
                    href="/brands/gaelic-cemetery-vineyard" target="_blank"
                    rel="noopener noreferrer">Gaelic Cemetery Vineyard brand</a>&nbsp;has to offer.&nbsp;The wines from
                Gaelic Cemetery Vineyard are packaged using fully recyclable materials including the bottles, corks,
                screwcaps and cartons that are used.</p>
            <p>&nbsp;</p>
            <h5>Viticulture</h5>
            <p>Our aim is to run the vineyard as sustainably as possible.</p>
            <p>Minimal use of water for irrigation, under vine mulching to reduce weeds and moisture loss, mid row cover
                cropping to encourage microbial activity in the soils and using only organic based fungicides/pesticides
                are just some of the measures undertaken and all part of the mantra in the vineyard.&nbsp;All water used
                at the vineyard is sustainably sourced from an on site dam filled from surface water runoff, supplied
                generally at night by drip irrigation to minimise evaporation.&nbsp;Our canopies are moderate in size to
                allow for good air flow and minimize spraying.</p>
            <p>&nbsp;</p>
            <h5>Gallery</h5>
        </div>
    </div>
    <div>
        <div class="row">
            <div class="gallery-images" style="padding-top: 0px;">
                <div id="testimonialcarousel" class="carousel slide" data-pause="true" data-keyboard="false"
                    data-ride="false" data-interval="false">
                    <ol class="carousel-indicators">
                        <li class="" data-target="#testimonialcarousel" data-slide-to="0">&nbsp;</li>
                        <li data-target="#testimonialcarousel" data-slide-to="1" class="">&nbsp;</li>
                        <li data-target="#testimonialcarousel" data-slide-to="2" class="">&nbsp;</li>
                        <li data-target="#testimonialcarousel" data-slide-to="3" class="active">&nbsp;</li>
                        <li data-target="#testimonialcarousel" data-slide-to="4" class="">&nbsp;</li>
                    </ol>
                    <div class="carousel-inner testimsg">
                        <div class="item">
                            <p class="text-center"><a
                                    href="https://about.gaeliccemeteryvineyard.com/templates/gaelic/images/gaelic-cemetery-vineyard/Vineyard-1.jpg"><img
                                        style="width: auto; max-width: 100%; height: auto;"
                                        src="https://about.gaeliccemeteryvineyard.com/templates/gaelic/images/gaelic-cemetery-vineyard/Vineyard-1-Small.jpg"></a>
                            </p>
                        </div>
                        <div class="item">
                            <p class="text-center"><a
                                    href="https://about.gaeliccemeteryvineyard.com/templates/gaelic/images/gaelic-cemetery-vineyard/Vineyard-2.jpg"><img
                                        style="width: auto; max-width: 100%; height: auto;"
                                        src="https://about.gaeliccemeteryvineyard.com/templates/gaelic/images/gaelic-cemetery-vineyard/Vineyard-2-Small.jpg"></a>
                            </p>
                        </div>
                        <div class="item">
                            <p class="text-center"><a
                                    href="https://about.gaeliccemeteryvineyard.com/templates/gaelic/images/gaelic-cemetery-vineyard/Vineyard-3.jpg"><img
                                        style="width: auto; max-width: 100%; height: auto;"
                                        src="https://about.gaeliccemeteryvineyard.com/templates/gaelic/images/gaelic-cemetery-vineyard/Vineyard-3-Small.jpg"></a>
                            </p>
                        </div>
                        <div class="item active">
                            <p class="text-center"><a
                                    href="https://about.gaeliccemeteryvineyard.com/templates/gaelic/images/gaelic-cemetery-vineyard/Vineyard-4.jpg"><img
                                        style="width: auto; max-width: 100%; height: auto;"
                                        src="https://about.gaeliccemeteryvineyard.com/templates/gaelic/images/gaelic-cemetery-vineyard/Vineyard-4-Small.jpg"></a>
                            </p>
                        </div>
                        <div class="item">
                            <p class="text-center"><a
                                    href="https://about.gaeliccemeteryvineyard.com/templates/gaelic/images/gaelic-cemetery-vineyard/Vineyard-5.jpg"><img
                                        style="width: auto; max-width: 100%; height: auto;"
                                        src="https://about.gaeliccemeteryvineyard.com/templates/gaelic/images/gaelic-cemetery-vineyard/Vineyard-5-Small.jpg"></a>
                            </p>
                        </div>
                    </div>
                    <a class="carousel-control-prev " href="#testimonialcarousel" data-slide="prev"> <span
                            class="carousel-control-prev-icon">&nbsp;</span> <span class="sr-only">Previous</span> </a>
                    <a class="carousel-control-next" href="#testimonialcarousel" data-slide="next"> <span
                            class="carousel-control-next-icon">&nbsp;</span> <span class="sr-only">Next</span> </a>
                </div>
            </div>
        </div>
        <div class="clearall">&nbsp;</div>
        <div class="clearall">&nbsp;</div>
    </div>
</div>