<div class="container-fluid content2 vpanel-left corporatesections">
    <div class="container">
        <div class="col-md-12 lhs1 col-xs-12 productfamilypage">
            <div class="clearfix">&nbsp;</div>
            <p style="text-align: center ! important;"><strong>Lanzerac Country Estate is a luxury accommodation and
                    events venue located in Tanunda, in the heart of the Barossa Valley. </strong></p>
            <p>Set on five acres, guests have access to the communal area and five large suites, all completely
                refurbished with modern bedrooms and bathrooms but hidden inside the original homestead over-looking the
                beautiful Barossa Ranges. The landscaped grounds include 90+ year Shiraz and Pedro Ximenez grapevines,
                intimate settings under tress and amongst gardens as well as the deck overlooking our lake.</p>
            <p>Guests can explore the grounds and enjoy the views as the property is completely surrounded by vineyards.
                There is also the “Barn”, which is the meeting and conference facility and is used for group functions,
                meetings and conferences. Suits any group bookings from weddings, to corporate events and birthday, any
                groups looking for a small and intimate setting to host team meetings privately in a unique setting but
                with all the necessary modern requirements..</p>
            <p style="text-align: center ! important;"><a href="https://lanzerac.estate/" rel="alternate">Visit
                    Website</a></p>
            <p style="text-align: center ! important;">&nbsp;</p>
            <p style="text-align: center ! important;">&nbsp;</p>
            <p style="text-align: center ! important;">&nbsp;</p>
            <p style="text-align: center ! important;">&nbsp;<iframe title="Lanzerac Country Estate"
                    src="https://www.youtube.com/embed/zv-JNnYxdCI?controls=0&amp;start=9&amp;loop=1" width="75%"
                    height="480px" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
        </div>
    </div>
</div>