<div class=" container-fluid content2 vpanel-left corporatesections">
    <div class="container">
        <div class="col-md-1 lhs1 col-xs-1 productfamilypage">&nbsp;</div>
        <div class="col-md-10 lhs1 col-xs-10 productfamilypage" style="padding-bottom: 0px;">
            <div class="clearall">&nbsp;</div>
            <div class="clearall">Pirathon owns and operates two vineyards in South Australia. The Pirathon Vineyard is
                located in the Barossa Valley grape growing region and consists of&nbsp;52.14&nbsp;acres
                (21.10&nbsp;ha)&nbsp;of vines, with the earliest block dating back to 1970.</div>
            <div class="clearall">&nbsp;</div>
            <div class="clearall">The majority of the vines were planted on their own roots with a diverse range of
                clone stock and selected varieties used. The varieties planted are Shiraz, Cabernet Sauvignon and a
                block of&nbsp;Mataro.<br><br>The vineyard is irrigated by drip irrigation with moisture monitoring and
                good drainage. Vintage is from January to February each year, and harvesting is all done by machine.
                Fortunately, our dry environment&nbsp;normally provides favourable harvesting conditions with little
                rainfall and above average temperatures allowing for all fruit to be picked at optimum flavour and
                ripeness.</div>
            <div class="clearall">&nbsp;</div>
            <div class="clearall">&nbsp;</div>
            <div class="videoplayer" style="margin: 0 auto;">
                <div
                    style="position: relative; padding-bottom: 56.25%; padding-top: 30px; height: 0; overflow: hidden;">
                    <p class="text-center"><iframe style="position: absolute; top: 0; left: 0;"
                            title="Pirathon Vineyard Video"
                            src="https://www.youtube.com/embed/JWa3TcLueKw?controls=0&amp;start=9&amp;loop=1"
                            width="100%" height="100%" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
                </div>
            </div>
            <div class="clearall">&nbsp;</div>
            <div class="clearall">&nbsp;</div>
            <h5>Location</h5>
            <p><a href="https://www.google.com/maps/place/171+Neldner+Rd,+Marananga+SA+5355,+Australia" target="_blank"
                    rel="noopener noreferrer">171 Neldner Road, Marananga, SA, 5355, Australia</a></p>
            <p>&nbsp;</p>
            <h5>Growing Region</h5>
            <p><em>Region:</em> Barossa</p>
            <p><em>Sub Region:</em> Barossa Valley</p>
            <p>The Barossa is located 65 kms North east of Adelaide. It was given the name Barossa in 1837 by Colonel
                William Light after a region in Spain where the English had been successful over the French in the
                Spanish Peninsular War. The region was settled in 1840 by the English but was soon followed by the
                German Lutherans escaping religious persecution in Silesia and Prussia.</p>
            <p>The first settlements were Bethany, Lights Pass and Langmeil (where the Pirathon&nbsp;winery is now). The
                First Vines were planted in 1843. The Barossa is home to some of the Oldest Shiraz in the world. 160+
                years. It is renowned for the Deep Coloured, Richly Flavoured Reds.</p>
            <p>&nbsp;</p>
            <h5>Vineyard Size</h5>
            <p>17 blocks, total 52.14 acres (21.10 hectares). Average 1650 vines per Ha.</p>
            <div class="clearall">&nbsp;</div>
            <p class="text-center"><a
                    href="https://about.pirathon.com/templates/pirathonv2.0/images/Pirathon%20Vineyard%20Map.jpg"><img
                        style="width: 75%!important;"
                        src="https://about.pirathon.com/templates/pirathonv2.0/images/Pirathon%20Vineyard%20Map%20Small.jpg"></a>
            </p>
            <p>&nbsp;</p>
            <h5>Vineyard Elevation / Altitude</h5>
            <p>230 to 255m above sea level (754 ft to 836 ft)</p>
            <p>&nbsp;</p>
            <h5>Growing Soils&nbsp;</h5>
            <p>Given the varied terrain, there are a number of soil types. Most common is sandy loam topsoil, with river
                clay and shale rock with the exception of:</p>
            <p><em>Block 1:</em> Deep red clay soils with Biscay moving towards bottom of hill.<br><br><em>Block 2:</em>
                Deep red clay soils with iron stone scattered through</p>
            <p><em>Block 3A:</em> Deep red clay under grey loam.</p>
            <p><em>Block 9</em>: Hard Red clay soils with ironstone and shale rock.</p>
            <p>&nbsp;</p>
            <h5 style="display: none;">Average Rainfall&nbsp;and Temperature</h5>
            <p style="display: none;">&nbsp;</p>
            <h5>Wines Produced</h5>
            <p>Pirathon offers four Shiraz and one Cabernet Sauvignon. For a full list of our wines check out what the
                <a href="https://brands.pirathon.com/pirathon" target="_blank" rel="noopener noreferrer">Pirathon
                    brand</a> has to offer.</p>
            <p>&nbsp;</p>
            <h5>Viticulture</h5>
            <p>Top quality grapes are sourced from our vineyard in&nbsp;north-western Barossa, this part&nbsp;of the
                Barossa is regarded as one of the finest districts for high quality wine. The grapes for Pirathon Shiraz
                are traditionally handcrafted in open top fermenters and pressed before maturing in barrel.</p>
            <p>Our aim is to run the vineyard as sustainably as possible. Minimal use of water for irrigation, under
                vine mulching to reduce weeds and moisture loss, mid row cover cropping to encourage microbial activity
                in the soils and using only organic based fungicides/pesticides are just some of the measures undertaken
                and all part of the mantra in the vineyard. All water used at the vineyard is sustainably sourced from
                river water, supplied generally at night by drip irrigation to minimise evaporation. Our canopies are
                moderate in size to allow for good air flow and minimize spraying.</p>
            <p>&nbsp;</p>
            <h5>Gallery</h5>
        </div>
    </div>
    <div>
        <div class="row">
            <div class="gallery-images" style="padding-top: 0px;">
                <div id="testimonialcarousel" class="carousel slide" data-pause="true" data-keyboard="false"
                    data-ride="false" data-interval="false">
                    <ol class="carousel-indicators">
                        <li class="" data-target="#testimonialcarousel" data-slide-to="0">&nbsp;</li>
                        <li data-target="#testimonialcarousel" data-slide-to="1" class="">&nbsp;</li>
                        <li data-target="#testimonialcarousel" data-slide-to="2" class="">&nbsp;</li>
                        <li data-target="#testimonialcarousel" data-slide-to="3" class="active">&nbsp;</li>
                        <li data-target="#testimonialcarousel" data-slide-to="4" class="">&nbsp;</li>
                        <li data-target="#testimonialcarousel" data-slide-to="5" class="">&nbsp;</li>
                        <li data-target="#testimonialcarousel" data-slide-to="6" class="">&nbsp;</li>
                    </ol>
                    <div class="carousel-inner testimsg">
                        <div class="item">
                            <p class="text-center"><a
                                    href="https://about.pirathon.com/templates/pirathonv2.0/images/pirathon-vineyard/Vineyard-1.jpg"><img
                                        style="width: auto; max-width: 100%; height: auto;"
                                        src="https://about.pirathon.com/templates/pirathonv2.0/images/pirathon-vineyard/Vineyard-1-Small.jpg"></a>
                            </p>
                        </div>
                        <div class="item">
                            <p class="text-center"><a
                                    href="https://about.pirathon.com/templates/pirathonv2.0/images/pirathon-vineyard/Vineyard-2.jpg"><img
                                        style="width: auto; max-width: 100%; height: auto;"
                                        src="https://about.pirathon.com/templates/pirathonv2.0/images/pirathon-vineyard/Vineyard-2-Small.jpg"></a>
                            </p>
                        </div>
                        <div class="item">
                            <p class="text-center"><a
                                    href="https://about.pirathon.com/templates/pirathonv2.0/images/pirathon-vineyard/Vineyard-3.jpg"><img
                                        style="width: auto; max-width: 100%; height: auto;"
                                        src="https://about.pirathon.com/templates/pirathonv2.0/images/pirathon-vineyard/Vineyard-3-Small.jpg"></a>
                            </p>
                        </div>
                        <div class="item active">
                            <p class="text-center"><a
                                    href="https://about.pirathon.com/templates/pirathonv2.0/images/pirathon-vineyard/Vineyard-4.jpg"><img
                                        style="width: auto; max-width: 100%; height: auto;"
                                        src="https://about.pirathon.com/templates/pirathonv2.0/images/pirathon-vineyard/Vineyard-4-Small.jpg"></a>
                            </p>
                        </div>
                        <div class="item">
                            <p class="text-center"><a
                                    href="https://about.pirathon.com/templates/pirathonv2.0/images/pirathon-vineyard/Vineyard-5.jpg"><img
                                        style="width: auto; max-width: 100%; height: auto;"
                                        src="https://about.pirathon.com/templates/pirathonv2.0/images/pirathon-vineyard/Vineyard-5-Small.jpg"></a>
                            </p>
                        </div>
                        <div class="item">
                            <p class="text-center"><a
                                    href="https://about.pirathon.com/templates/pirathonv2.0/images/pirathon-vineyard/Vineyard-6.jpg"><img
                                        style="width: auto; max-width: 100%; height: auto;"
                                        src="https://about.pirathon.com/templates/pirathonv2.0/images/pirathon-vineyard/Vineyard-6-Small.jpg"></a>
                            </p>
                        </div>
                        <div class="item">
                            <p class="text-center"><a
                                    href="https://about.pirathon.com/templates/pirathonv2.0/images/pirathon-vineyard/Vineyard-7.jpg"><img
                                        style="width: auto; max-width: 100%; height: auto;"
                                        src="https://about.pirathon.com/templates/pirathonv2.0/images/pirathon-vineyard/Vineyard-7-Small.jpg"></a>
                            </p>
                        </div>
                    </div>
                    <a class="carousel-control-prev " href="#testimonialcarousel" data-slide="prev"> <span
                            class="carousel-control-prev-icon">&nbsp;</span> <span class="sr-only">Previous</span> </a>
                    <a class="carousel-control-next" href="#testimonialcarousel" data-slide="next"> <span
                            class="carousel-control-next-icon">&nbsp;</span> <span class="sr-only">Next</span> </a>
                </div>
            </div>
        </div>
        <div class="clearall">&nbsp;</div>
        <div class="clearall">&nbsp;</div>
        <div class="clearall">&nbsp;</div>
        <div class="clearall">&nbsp;</div>
    </div>
</div>