<div class=" container-fluid content2 vpanel-left corporatesections">
    <div class="container">
        <div class="col-md-1 lhs1 col-xs-1 productfamilypage">&nbsp;</div>
        <div class="col-md-10 lhs1 col-xs-10 productfamilypage" style="padding-bottom: 0px;">
            <div class="clearall">&nbsp;</div>
            <div class="clearall">&nbsp;</div>
            <div class="clearall">&nbsp;</div>
            <p>Our wines&nbsp;are produced at our state of the art winery located in the picturesque Barossa Valley
                which is&nbsp;capable of processing 480 tonnes of grapes per year.&nbsp; With our own facilities we can
                control everything from the vineyard all the way through the winemaking process to produce the best
                possible wine.&nbsp;We use&nbsp;screw cap closures&nbsp;to&nbsp;improve&nbsp;the consistency of our
                bottled wine.</p>
            <div class="clearall">&nbsp;</div>
            <div class="clearall">&nbsp;</div>
            <h5>Address</h5>
            <p><a href="https://www.google.com/maps/place/979+Light+Pass+Rd,+Vine+Vale+SA+5352,+Australia">979 Light
                    Pass Rd, Vine Vale SA 5352, Australia</a></p>
            <div class="clearall">&nbsp;</div>
            <div class="clearall">&nbsp;</div>
            <h5>Specifications</h5>
            <p>Total winery size (inside) is 40 m x 40m. This is divided up into three sections:</p>
            <br>
            <p><strong>Dry goods storage </strong></p>
            <p>Area of 20 x 20m. Total capacity 360 pallets</p>
            <p><br><strong>Barrel Storage </strong></p>
            <p>Area of 20 x 20m. Total capacity is about 840 x 300 L barrels</p>
            <p><br><strong>Fermentation and Tank Farm</strong></p>
            <p>Area of 20 x 40m<br><em>Tank Farm:</em> 2 x 4.5 kl tanks, 3 x 7.5 kl tanks, 4 x 15 kl tank = 91.5 kl in
                total<br><em>Fermentation:</em> 5 x 10 tonne open fermenters (stage 1), further capability of 6 x 5
                tonne opens and 4 x 2.5 t opens.</p>
            <br>
            <p>We also have two outside canopy areas. The first is for unloading grapes and access to the internal
                hopper/crusher. The second allows for unloading of all pallets and dry goods out of the weather.</p>
            <p>The winery license is for 480 tonnes crush. The 2021 crush was 120 tonnes.</p>
            <div class="clearall">&nbsp;</div>
            <div class="clearall">&nbsp;</div>
            <h5 class="clearall">Winemaking</h5>
            <p>The majority of our red grapes (Shiraz) are machine harvested to allow the best flexibility in harvesting
                decisions. They are then transported in ½ tonne Nally bins to the winery where they are crushed and
                destemmed. Fermentation occurs in small open top fermenters with regular pump overs early in
                fermentation which decrease over time to ensure a balanced extraction of tannin. After draining off the
                free run the skins are gently pressed via an air bag press and combined back with the free run. Each
                batch of wine is then filled to 300 L French and American hogsheads and kept separate. We like to fill
                our wine to barrels early as this gives the best integration of oak and flexibility in blending.</p>
            <p>Once fermentation is complete each batch is racked out of barrel, sulphur added, mixed, and filled back
                to full storage. Oak maturation varies depending on the wine style and vintage but is usually between 12
                and 18 months before bottling.</p>
            <p>The Rieslings are mainly machine harvested in the cool of the night to minimise oxidation and increase
                quality. They are destemmed and gently pressed via an air bag press. After cold settling to remove heavy
                lees, fermentation is carried out at low temperatures to help capture the citrus aromatics. Once
                complete the wines are kept in full storage on yeast lees for about&nbsp;three months prior to
                filtration and bottling.</p>
            <div class="clearall">&nbsp;</div>
            <div class="clearall">&nbsp;</div>
            <h5>Sustainability</h5>
            <p>Pirathon has adopted a wide range of innovative practices in our winery. These practices not only bring
                environmental and sustainable development benefits, but also produce healthier fruits, resulting in
                better quality wines:</p>
            <ul>
                <li>Winemaking is done in open fermenters, for gentle extraction of tannin, flavour, colour.</li>
                <li>All winemaking is inside so minimal cooling and electricity is required.</li>
                <li>Most of our electricity at the winery is sourced from a 20.8 KW Solar system on the roof of the
                    winery.</li>
                <li>All water used in the winery is recycled on the property used for native trees and gardens.</li>
                <li>All grape stalks and marc is used for sheep feed for a local farmer.</li>
            </ul>
            <div class="clearall">&nbsp;</div>
            <div class="clearall">&nbsp;</div>
            <h5>Expansion</h5>
            <p>To accommodate for our rapid growth the winery was recently expanded and is capable of processing 480
                tonnes of grapes per year. Click to see a video during the construction process of the expansion.</p>
            <p>&nbsp;</p>
            <div class="videoplayer" style="margin: 0 auto;">
                <div
                    style="position: relative; padding-bottom: 56.25%; padding-top: 30px; height: 0; overflow: hidden;">
                    <p class="text-center"><iframe style="position: absolute; top: 0; left: 0;"
                            title="Pirathon Vineyard Video"
                            src="https://www.youtube.com/embed/GapbJK1YsxQ?controls=0&amp;&amp;loop=1" width="100%"
                            height="100%" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
                </div>
            </div>
            <div class="clearall">&nbsp;</div>
            <div class="clearall">&nbsp;</div>
            <div class="clearall">&nbsp;</div>
            <h5>Gallery</h5>
        </div>
    </div>
    <div>
        <div class="row">
            <div class="gallery-images" style="padding-top: 0px;">
                <div id="testimonialcarousel" class="carousel slide" data-pause="true" data-keyboard="false"
                    data-ride="false" data-interval="false">
                    <ol class="carousel-indicators">
                        <li class="" data-target="#testimonialcarousel" data-slide-to="0">&nbsp;</li>
                        <li data-target="#testimonialcarousel" data-slide-to="1" class="">&nbsp;</li>
                        <li data-target="#testimonialcarousel" data-slide-to="2" class="">&nbsp;</li>
                        <li data-target="#testimonialcarousel" data-slide-to="3" class="">&nbsp;</li>
                        <li data-target="#testimonialcarousel" data-slide-to="4" class="">&nbsp;</li>
                        <li data-target="#testimonialcarousel" data-slide-to="5" class="">&nbsp;</li>
                        <li data-target="#testimonialcarousel" data-slide-to="6" class="">&nbsp;</li>
                        <li data-target="#testimonialcarousel" data-slide-to="7" class="">&nbsp;</li>
                        <li data-target="#testimonialcarousel" data-slide-to="8" class="">&nbsp;</li>
                        <li data-target="#testimonialcarousel" data-slide-to="9" class="">&nbsp;</li>
                        <li data-target="#testimonialcarousel" data-slide-to="10" class="active">&nbsp;</li>
                    </ol>
                    <div class="carousel-inner testimsg">
                        <div class="item">
                            <p class="text-center"><a
                                    href="https://about.pirathon.com/templates/pirathonv2.0/images/pirathon-winery/Winery-1.jpg"><img
                                        style="width: auto; max-width: 100%; height: auto;"
                                        src="https://about.pirathon.com/templates/pirathonv2.0/images/pirathon-winery/Winery-1-Small.jpg"></a>
                            </p>
                        </div>
                        <div class="item">
                            <p class="text-center"><a
                                    href="https://about.pirathon.com/templates/pirathonv2.0/images/pirathon-winery/Winery-2.jpg"><img
                                        style="width: auto; max-width: 100%; height: auto;"
                                        src="https://about.pirathon.com/templates/pirathonv2.0/images/pirathon-winery/Winery-2-Small.jpg"></a>
                            </p>
                        </div>
                        <div class="item">
                            <p class="text-center"><a
                                    href="https://about.pirathon.com/templates/pirathonv2.0/images/pirathon-winery/Winery-3.jpg"><img
                                        style="width: auto; max-width: 100%; height: auto;"
                                        src="https://about.pirathon.com/templates/pirathonv2.0/images/pirathon-winery/Winery-3-Small.jpg"></a>
                            </p>
                        </div>
                        <div class="item">
                            <p class="text-center"><a
                                    href="https://about.pirathon.com/templates/pirathonv2.0/images/pirathon-winery/Winery-4.jpg"><img
                                        style="width: auto; max-width: 100%; height: auto;"
                                        src="https://about.pirathon.com/templates/pirathonv2.0/images/pirathon-winery/Winery-4-Small.jpg"></a>
                            </p>
                        </div>
                        <div class="item">
                            <p class="text-center"><a
                                    href="https://about.pirathon.com/templates/pirathonv2.0/images/pirathon-winery/Winery-5.jpg"><img
                                        style="width: auto; max-width: 100%; height: auto;"
                                        src="https://about.pirathon.com/templates/pirathonv2.0/images/pirathon-winery/Winery-5-Small.jpg"></a>
                            </p>
                        </div>
                        <div class="item">
                            <p class="text-center"><a
                                    href="https://about.pirathon.com/templates/pirathonv2.0/images/pirathon-winery/Winery-6.jpg"><img
                                        style="width: auto; max-width: 100%; height: auto;"
                                        src="https://about.pirathon.com/templates/pirathonv2.0/images/pirathon-winery/Winery-6-Small.jpg"></a>
                            </p>
                        </div>
                        <div class="item">
                            <p class="text-center"><a
                                    href="https://about.pirathon.com/templates/pirathonv2.0/images/pirathon-winery/Winery-7.jpg"><img
                                        style="width: auto; max-width: 100%; height: auto;"
                                        src="https://about.pirathon.com/templates/pirathonv2.0/images/pirathon-winery/Winery-7-Small.jpg"></a>
                            </p>
                        </div>
                        <div class="item">
                            <p class="text-center"><a
                                    href="https://about.pirathon.com/templates/pirathonv2.0/images/pirathon-winery/Winery-8.jpg"><img
                                        style="width: auto; max-width: 100%; height: auto;"
                                        src="https://about.pirathon.com/templates/pirathonv2.0/images/pirathon-winery/Winery-8-Small.jpg"></a>
                            </p>
                        </div>
                        <div class="item">
                            <p class="text-center"><a
                                    href="https://about.pirathon.com/templates/pirathonv2.0/images/pirathon-winery/Winery-9.jpg"><img
                                        style="width: auto; max-width: 100%; height: auto;"
                                        src="https://about.pirathon.com/templates/pirathonv2.0/images/pirathon-winery/Winery-9-Small.jpg"></a>
                            </p>
                        </div>
                        <div class="item">
                            <p class="text-center"><a
                                    href="https://about.pirathon.com/templates/pirathonv2.0/images/pirathon-winery/Winery-10.jpg"><img
                                        style="width: auto; max-width: 100%; height: auto;"
                                        src="https://about.pirathon.com/templates/pirathonv2.0/images/pirathon-winery/Winery-10-Small.jpg"></a>
                            </p>
                        </div>
                        <div class="item active">
                            <p class="text-center"><a
                                    href="https://about.pirathon.com/templates/pirathonv2.0/images/pirathon-winery/Winery-11.jpg"><img
                                        style="width: auto; max-width: 100%; height: auto;"
                                        src="https://about.pirathon.com/templates/pirathonv2.0/images/pirathon-winery/Winery-11-Small.jpg"></a>
                            </p>
                        </div>
                    </div>
                    <a class="carousel-control-prev " href="#testimonialcarousel" data-slide="prev"> <span
                            class="carousel-control-prev-icon">&nbsp;</span> <span class="sr-only">Previous</span> </a>
                    <a class="carousel-control-next" href="#testimonialcarousel" data-slide="next"> <span
                            class="carousel-control-next-icon">&nbsp;</span> <span class="sr-only">Next</span> </a>
                </div>
            </div>
        </div>
        <div class="clearall">&nbsp;</div>
        <div class="clearall">&nbsp;</div>
    </div>
</div>