{{ define "main" }}

{{ partial "wines/wine-list-header-main" . }}


<div class="container-fluid bg-white liveimage">
    <div class="row main">

        <div class="container tl product-bar">
            <div class="clearfix">&nbsp;</div>
            <div class="col-lg-9">
                <div class="col-lg-12  fam-product-section ">
                    <div style="height: 40px;">&nbsp;</div>
                    <div class="col-lg-9">
                        <h2><a id="2020vintage" class="anchor" name="2020vintage"></a>&nbsp;&nbsp;<a href="/wines/2020">Gaelic
                                Cemetery Vineyard 2020 Vintage</a> <em>For the 2020 vintage we offer three outstanding Clare
                                Valley Wines.</em></h2>
                    </div>
                    <div class="col-lg-12 pf-urls"><a class="netbg btn " href="/wines/2020/celtic-farm-riesling"><em>GCV Celtic
                                Farm Riesling</em>2020</a> <a class="netbg btn " href="/wines/2020/white-hut-riesling"><em>GCV
                                White Hut Riesling</em>2020</a><a class="netbg btn " href="/wines/2020/mcaskill-riesling"><em>GCV
                                McAskill Riesling</em>2020</a></div>
                </div>
                <div class="brdr-spacer">&nbsp;</div>
                <div class="col-lg-9">
                    <h2><a id="2019vintage" class="anchor" name="2019vintage"></a>&nbsp;&nbsp;<a href="/wines2019">Gaelic
                            Cemetery Vineyard 2019 Vintage</a> <em>For the 2019 vintage we offer four outstanding Clare
                            Valley Wines.</em></h2>
                </div>
                <div class="col-lg-12 pf-urls"><a class="netbg btn " href="/wines/2019/premium-riesling"><em>GCV Premium
                            Riesling</em>2019</a> <a class="netbg btn " href="/wines/2019/celtic-farm-riesling"><em>GCV Celtic
                            Farm Riesling</em>2019</a> <a class="netbg btn " href="/wines/2019/mcaskill-cabernet-malbec"><em>GCV
                            McAskill Cabernet Malbec</em>2019</a> <a class="netbg btn " href="/wines/2019/mcaskill-shiraz"><em>GCV
                            McAskill Shiraz</em>2019</a></div>
                <div class="brdr-spacer">&nbsp;</div>
                <div class="col-lg-9">
                    <h2><a id="2018vintage" class="anchor" name="2018vintage"></a>&nbsp;&nbsp;<a href="/wines/2018">Gaelic
                            Cemetery Vineyard 2018 Vintage</a> <em>For the 2018 vintage we offer five outstanding Clare
                            Valley Wines.</em></h2>
                </div>
                <div class="col-lg-12 pf-urls"><a class="netbg btn " href="/wines/2018/premium-cabernet-malbec"><em>GCV Premium
                            Cabernet Malbec</em>2018</a> <a class="netbg btn " href="/wines/2018/premium-riesling"><em>GCV Premium
                            Riesling</em>2018</a><a class="netbg btn " href="/wines/2018/celtic-farm-riesling"><em>GCV Celtic Farm
                            Riesling</em>2018</a><a class="netbg btn " href="/wines/2018/celtic-farm-shiraz-cabernet"><em>GCV
                            Celtic Farm Shiraz Cabernet</em>2018</a><a class="netbg btn "
                        href="/wines/2018/premium-shiraz"><em>GCV Premium Shiraz</em>2018</a></div>
                <div class="brdr-spacer">&nbsp;</div>
                <div class="col-lg-9">
                    <h2><a id="2017vintage" class="anchor" name="2017vintage"></a>&nbsp;&nbsp;<a href="/wines/2017">Gaelic
                            Cemetery Vineyard 2017 Vintage</a> <em>For the 2017 vintage we offer five outstanding Clare
                            Valley Wines.</em></h2>
                </div>
                <div class="col-lg-12 pf-urls"><a class="netbg btn " href="/wines/2017/premium-cabernet-malbec"><em>GCV Premium
                            Cabernet Malbec</em>2017</a><a class="netbg btn " href="/wines/2017/premium-riesling"><em>GCV Premium
                            Riesling</em>2017</a> <a class="netbg btn " href="/wines/2017/celtic-farm-riesling"><em>GCV Celtic
                            Farm Riesling</em>2017</a> <a class="netbg btn "
                        href="/wines/2017/celtic-farm-shiraz-cabernet"><em>GCV Celtic Farm Shiraz Cabernet</em>2017</a> <a
                        class="netbg btn " href="/wines/2017/premium-shiraz"><em>GCV Premium Shiraz</em>2017</a></div>
                <div class="brdr-spacer">&nbsp;</div>
                <div class="col-lg-9">
                    <h2><a id="2016vintage" class="anchor" name="2016vintage"></a>&nbsp;&nbsp;<a href="/wines/2016">Gaelic
                            Cemetery Vineyard 2016 Vintage</a> <em>For the 2016 vintage we offer five outstanding Clare
                            Valley Wines.</em></h2>
                </div>
                <div class="col-lg-12 pf-urls"><a class="netbg btn " href="/wines/2016/premium-cabernet-malbec"><em>GCV Premium
                            Cabernet Malbec</em>2016</a> <a class="netbg btn " href="/wines/2016/premium-riesling"><em>GCV Premium
                            Riesling</em>2016</a><a class="netbg btn " href="/wines/2016/celtic-farm-riesling"><em>GCV Celtic Farm
                            Riesling</em>2016</a> <a class="netbg btn " href="/wines/2016/celtic-farm-shiraz-cabernet"><em>GCV
                            Celtic Farm Shiraz Cabernet</em>2016</a> <a class="netbg btn "
                        href="/wines/2016/premium-shiraz"><em>GCV Premium Shiraz</em>2016</a></div>
                <div class="brdr-spacer">&nbsp;</div>
                <div class="col-lg-9">
                    <h2><a id="2015vintage" class="anchor" name="2015vintage"></a>&nbsp;&nbsp;<a href="/wines/2015">Gaelic
                            Cemetery Vineyard 2015 Vintage</a> <em>For the 2015 vintage we offer five outstanding Clare
                            Valley Wines.</em></h2>
                </div>
                <div class="col-lg-12 pf-urls"><a class="netbg btn " href="/wines/2015/premium-cabernet-malbec"><em>GCV Premium
                            Cabernet Malbec</em>2015</a> <a class="netbg btn " href="/wines/2015/premium-riesling"><em>GCV Premium
                            Riesling</em>2015</a> <a class="netbg btn " href="/wines/2015/celtic-farm-riesling"><em>GCV Celtic
                            Farm Riesling</em>2015</a> <a class="netbg btn " href="/wines/2015/premium-shiraz"><em>GCV Premium
                            Shiraz</em>2015</a><a class="netbg btn " href="/wines/2015/celtic-farm-shiraz-cabernet"><em>GCV Celtic
                            Farm Shiraz Cabernet</em>2015</a></div>
                <div class="brdr-spacer">&nbsp;</div>
                <div class="col-lg-9">
                    <h2><a id="2014vintage" class="anchor" name="2014vintage"></a>&nbsp;&nbsp;<a href="/wines/2014">Gaelic
                            Cemetery Vineyard 2014 Vintage</a> <em>For the 2014 vintage we offer five outstanding Clare
                            Valley Wines.</em></h2>
                </div>
                <div class="col-lg-12 pf-urls"><a class="netbg btn " href="/wines/2014/premium-cabernet-malbec"><em>GCV Premium
                            Cabernet Malbec</em>2014</a> <a class="netbg btn " href="/wines/2014/premium-riesling"><em>GCV Premium
                            Riesling</em>2014</a> <a class="netbg btn " href="/wines/2014/celtic-farm-riesling"><em>GCV Celtic
                            Farm Riesling</em>2014</a> <a class="netbg btn "
                        href="/wines/2014/celtic-farm-shiraz-cabernet"><em>GCV Celtic Farm Shiraz Cabernet</em>2014</a> <a
                        class="netbg btn " href="/wines/2014/premium-shiraz"><em>GCV Premium Shiraz</em>2014</a></div>
                <div class="brdr-spacer">&nbsp;</div>
                <div class="col-lg-9">
                    <h2><a id="2013vintage" class="anchor" name="2013vintage"></a>&nbsp;&nbsp;<a href="/wines/2013">Gaelic
                            Cemetery Vineyard 2013 Vintage</a> <em>For the 2013 vintage we offer three outstanding Clare
                            Valley Wines.</em></h2>
                </div>
                <div class="col-lg-12 pf-urls"><a class="netbg btn " href="/wines/2013/premium-riesling"><em>GCV Premium
                            Riesling</em>2013</a> <a class="netbg btn " href="/wines/2013/celtic-farm-riesling"><em>GCV Celtic
                            Farm Riesling</em>2013</a> <a class="netbg btn " href="/wines/2013/premium-shiraz"><em>GCV Premium
                            Shiraz</em>2013</a></div>
                <div class="brdr-spacer">&nbsp;</div>
                <div class="col-lg-9">
                    <div class="col-lg-9">
                        <h2><a id="2012vintage" class="anchor" name="2012vintage"></a>&nbsp;&nbsp;<a href="/wines/2012">Gaelic
                                Cemetery Vineyard 2012 Vintage</a> <em>For the 2012 vintage we offer four outstanding Clare
                                Valley Wines.</em></h2>
                    </div>
                    <div class="col-lg-12 pf-urls"><a class="netbg btn " href="/wines/2012/premium-cabernet-malbec"><em>GCV
                                Premium Cabernet Malbec</em>2012</a> <a class="netbg btn "
                            href="/wines/2012/premium-riesling"><em>GCV Premium Riesling</em>2012</a> <a class="netbg btn "
                            href="/wines/2012/celtic-farm-riesling"><em>GCV Celtic Farm Riesling</em>2012</a> <a
                            class="netbg btn " href="/wines/2012/premium-shiraz"><em>GCV Premium Shiraz</em>2012</a></div>
                    <div class="brdr-spacer">&nbsp;</div>
                    <div class="col-lg-9">
                        <div class="col-lg-9">
                            <h2><a id="2010vintage" class="anchor" name="2010vintage"></a>&nbsp;&nbsp;<a href="/wines/2010">Gaelic
                                    Cemetery Vineyard 2010 Vintage</a> <em>For the 2010 vintage we offer two outstanding
                                    wines.</em></h2>
                        </div>
                        <div class="col-lg-12 pf-urls"><a class="netbg btn " href="/wines/2010/premium-cabernet-malbec"><em>GCV
                                    Premium Cabernet Malbec</em>2010</a> <a class="netbg btn "
                                href="/wines/2010/premium-shiraz"><em>GCV Premium Shiraz</em>2010</a></div>
                        <div class="brdr-spacer">&nbsp;</div>
                        <div class="col-lg-9">
                            <h2><a id="2009vintage" class="anchor" name="2009vintage"></a>&nbsp;&nbsp;<a href="/wines/2009">Gaelic
                                    Cemetery Vineyard 2009 Vintage</a> <em>For the 2009 vintage we offer an outstanding
                                    Shiraz</em></h2>
                        </div>
                        <div class="col-lg-12 pf-urls"><a class="netbg btn " href="/wines/2009/premium-shiraz"><em>GCV Premium
                                    Shiraz</em>2009</a></div>
                        <div class="brdr-spacer">&nbsp;</div>
                        <div class="col-lg-9">
                            <h2><a id="2008vintage" class="anchor" name="2008vintage"></a>&nbsp;&nbsp;<a href="/wines/2008">Gaelic
                                    Cemetery Vineyard 2008 Vintage</a> <em>For the 2008 vintage we offer an outstanding
                                    Shiraz</em></h2>
                        </div>
                        <div class="col-lg-12 pf-urls"><a class="netbg btn " href="/wines/2008/premium-shiraz"><em>GCV Premium
                                    Shiraz</em>2008</a></div>
                        <div class="brdr-spacer">&nbsp;</div>
                        <div class="col-lg-9">
                            <h2><a id="2007vintage" class="anchor" name="2007vintage"></a>&nbsp;&nbsp;<a href="/wines/2007">Gaelic
                                    Cemetery Vineyard 2007 Vintage</a> <em>For the 2007 vintage we offer an outstanding
                                    Shiraz.</em></h2>
                        </div>
                        <div class="col-lg-12 pf-urls"><a class="netbg btn " href="/wines/2007/premium-shiraz"><em>GCV Premium
                                    Shiraz</em>2007</a></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 rhs-menu mt-30px profuctfamilyrhs">
            <div class="rhs-box">
                <div id="sticky" class="stickytopheight ">&nbsp;</div>
                <div class="rhs-section api-link left">
                    <h3>Past Vintages</h3>
                    <a href="#2020vintage"><i class="fa fa-caret-right">&nbsp;</i> 2020</a> <a href="#2019vintage"><i
                            class="fa fa-caret-right">&nbsp;</i> 2019</a> <a href="#2018vintage"><i
                            class="fa fa-caret-right">&nbsp;</i> 2018</a> <a href="#2017vintage"><i
                            class="fa fa-caret-right">&nbsp;</i> 2017</a> <a href="#2016vintage"><i
                            class="fa fa-caret-right">&nbsp;</i> 2016</a> <a href="#2015vintage"><i
                            class="fa fa-caret-right">&nbsp;</i> 2015</a> <a href="#2014vintage"><i
                            class="fa fa-caret-right">&nbsp;</i> 2014</a> <a href="#2013vintage"><i
                            class="fa fa-caret-right">&nbsp;</i> 2013</a> <a href="#2012vintage"><i
                            class="fa fa-caret-right">&nbsp;</i> 2012</a> <a href="#2010vintage"><i
                            class="fa fa-caret-right">&nbsp;</i> 2010</a><a href="#2009vintage"><i
                            class="fa fa-caret-right">&nbsp;</i> 2009</a><a href="#2008vintage"><i
                            class="fa fa-caret-right">&nbsp;</i> 2008</a><a href="#2007vintage"><i
                            class="fa fa-caret-right">&nbsp;</i> 2007</a>
                </div>
            </div>
        </div>

    </div>
    <div class="spacer">&nbsp;</div>

</div>

{{ end }}